<template>
    <div>
       <div class="container">
                <div class="row">
                    <div class="headerTtile">
                       Form Header
                    </div>
                </div>
           <div class="row shadow p-5 bg-default">
                    <div class="col-md-4 pt-2">
                        <div class="form-group">
                            <label class="label label-default">Item Name </label>
                            <input type="text" class="form-control" placeholder="Item name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">Item Code </label>
                            <input type="number" class="form-control" placeholder="Item Code">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">Select Item</label>
                            <select  class="form-control">
                                <option value="">option 1</option>
                                <option value="">option 1</option>
                                <option value="">option 1</option>
                                <option value="">option 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-form-label">Description </label>
                            <textarea name="" id="" cols="5" rows="2" class="form-control"></textarea>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">Select Category </label>
                            <select  class="form-control">
                                <option value="">option 1</option>
                                <option value="">option 1</option>
                                <option value="">option 1</option>
                                <option value="">option 1</option>
                            </select>
                        </div>
                    </div>
               <div class="row mt-2">
                   <div class="col-md-12">
                       <div class="form-group">
                           <button class="btn btn-secondary ml-3">Submit</button>
                       </div>
                   </div>
               </div>

           </div>

       </div>



    </div>
</template>

<script>
    export default {
        name: "addItem"
    }
</script>

<style scoped>

</style>