<template>
    <div>
        <div class="container hide-on-print">
            <div class="row">
                <p>
                    <span class="text-danger">{{errorMessage}}</span>
                    <!--<span class="text-danger" v-for="item in serverErrors"> {{item}}</span>-->
                </p>

                <div class="headerTtile">
                    Holiday
                </div>
            </div>
            <form @submit.prevent="postHoliday()">
                <div class="row shadow p-4 bg-default">
                    <div class="parentFlex">
                        <div class="col-flex d-flex justify-content-around ">
                            <div class="form-group ">
                                <label class="label label-default">Date *</label><br>
                                <date-picker v-model="holiday.date"
                                             lang="en" type="date"
                                             name="date"
                                             format="DD-MM-YYYY"
                                             v-validate="'required'"
                                             placeholder="Select Date">

                                </date-picker>
                                <div v-show="errors.has('date')"
                                     class="help is-danger">
                                    {{ errors.first('date') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Employee* </label><br>
                                <v-select
                                        :options="employees"
                                        label="name"
                                        name="employee"
                                        v-model="holiday.employee"
                                        :class="{'danger-border': errors.has('employee') }"
                                        v-validate="'required'"
                                >

                                </v-select>
                                <div v-show="errors.has('employee')"
                                     class="help is-danger">
                                    {{ errors.first('employee') }}
                                </div>

                            </div>


                        </div>

                        <div class="col-flex">
                            <div class="form-group">
                                <label class="">Type* </label><br>
                                <v-select
                                        :options="['Authorized holiday','Unauthorized holiday']"
                                        name="type"
                                        v-model="holiday.type"
                                        :class="{'danger-border': errors.has('type') }"
                                        v-validate="'required'"
                                >

                                </v-select>
                                <div v-show="errors.has('type')"
                                     class="help is-danger">
                                    {{ errors.first('type') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-flex">
                            <div class="form-group ml-1">
                                <label class="">Details </label><br>
                                <textarea name="" id="" cols="5" rows="1" class="form-control" placeholder="Details "
                                          v-model="holiday.details"></textarea>

                            </div>
                        </div>
                        <div class="col-flex">
                            <div class="form-group ml-2" v-if="!showBtn">
                                <label class=""> </label><br>
                                <button class="btn btn-primary mt-2"type="submit">
                                    <i class="fa fa-plus pl-1" @click="btnType='submit'"></i>Submit
                                </button>
                            </div>
                            <div class="form-group ml-2" v-if="showBtn">
                                <label class=""> </label><br>
                                <button class="btn btn-warning mt-2"type="submit" @click="btnType='update'">
                                    <i class="fa fa-plus pl-1"></i>Update
                                </button>
                            </div>

                        </div>


                    </div>

                </div>
            </form>

        </div>
        <br>

        <div class="card card-table mt-3">
            <data-table
                    ref="dataTable"
                    :search="true"
                    :columns="columns"
                    :addLink="'employeeCreate'"
                    :addButton="false"
                    :tableHeadline="'Holiday List'"
                    :searchField="'employee.name'"
                    :dateSearchFieldName="'start_date'"
                    :ajax="{
                            url: url
                        }"
            >
                <template slot="items" slot-scope="props">

                    <td class="text-center">

                        {{props.data.date}}

                    </td>
                    <td class="text-center">
                        <template v-if="props.data.employee">
                            {{props.data.employee.name}}
                        </template>

                    </td>
                    <td class="text-center">

                        {{props.data.type}}

                    </td>


                    <td class="text-left" style="max-width: 200px">
                        {{props.data.details}}
                    </td>

                    <td class="text-center">

                        <div class="adjustAction">
                            <template>
                                <a href="#" @click.prevent="setEditData(props.data)" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a @click.prevent="deleteMe(props.data.id)" href="#" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </template>
                        </div>
                    </td>
                </template>
            </data-table>
        </div>


    </div>
</template>

<script>

    export default {
        name: "addItem",
        data() {
            return {
                serverErrors: [],
                employees: [],
                holiday: {},
                errorMessage: '',
                url: '/holiday',
                btnType:'submit',
                showBtn:false,
                updateId:null,
                columns: [
                    {name: 'Date'},
                    {name: 'Name'},
                    {name: 'Type'},
                    {name: 'Details'},

                    {name: 'Action'},
                ]

            }
        },
        created() {
            axios.get('/pre-rota/create').then(res => {
                this.employees = res.data.employees
            })
        },
        methods: {

            postHoliday() {
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.parseTimeAndDate(this.holiday)

                        if(this.btnType=='submit'){
                            axios.post('/holiday', this.holiday).then(res => {
                                this.holiday = {}
                                this.flash(res.data.message, res.data.type, {
                                    timeout: 2000,
                                });
                                var dataTable = this.$refs.dataTable
                                dataTable.getResult();
                            }).catch(error => {
                                let err
                                let errs = error.response.data.errors
                                this.serverErrors = error.response.data.errors
                                for (err in errs) {
                                    this.errors.add({
                                        'field': err,
                                        'msg': errs[err][0]
                                    })
                                }
                            })
                        }else {
                            axios.patch('/holiday/'+this.updateId, this.holiday).then(res => {
                                this.holiday = {}
                                this.showBtn=false
                                this.flash(res.data.message, res.data.type, {
                                    timeout: 2000,
                                });
                                var dataTable = this.$refs.dataTable
                                dataTable.getResult();
                            }).catch(error => {
                                let err
                                let errs = error.response.data.errors
                                this.serverErrors = error.response.data.errors
                                for (err in errs) {
                                    this.errors.add({
                                        'field': err,
                                        'msg': errs[err][0]
                                    })
                                }
                            })
                        }

                    }
                })
            },
            saveAndClose() {
                this.postEmployee('goto')
            },
            cancel() {
                this.$router.push({name: 'customerManage'})
            },
            setEditData(item){
                this.updateId=item.id
                this.holiday=item
                this.holiday.employee=item.employee
                this.showBtn=true
            },

            deleteMe(id) {
                if (confirm("Are you sure?")) {
                    axios.delete('/holiday/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            },
            parseTimeAndDate(val){
                this.holiday.date=this.moment(val.date).format('YYYY-MM-DD')
            }


        }
    }
</script>

<style scoped>

</style>