<template>
    <div class="text-center pt-1 pb-1 app-footer">
        <small class="text-info text-capitalze">
           Copyright &copy;  All right reserved Diamonds group Hr
        </small>
    </div>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>

</style>