<template>
    <div>
        <header class="app-header"><router-link :to="{name:'dashboard'}" class="app-header__logo"> Monitoring  </router-link>
            <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <!-- Navbar Right Menu-->
            <ul class="app-nav">

                <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(43px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li v-if="$root.auth?$root.auth.role=='admin':false"><router-link  :to="{name:'userDetails'}" class="dropdown-item" ><i class="fa fa-cog fa-lg"></i> Account Settings</router-link></li>
                        <!--<li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>-->
                        <li><a class="dropdown-item" href="page-login.html"
                               @click.prevent="logout">
                            <i class="fa fa-sign-out fa-lg"></i>
                            Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
    </div>
</template>

<script>
    export default {
        data(){
            return{

            }
        },
        methods:{
            logout(){
                axios.post('/logout').then(res=>{
                    this.$router.push({path:'/login'})
                    window.location.reload(true)
                })


            }
        }
    }
</script>