<template>
    <div>
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">

            <ul class="app-menu">

                <li>
                    <router-link class="app-menu__item active"  :to="{name:'dashboard'}">
                        <i class="app-menu__icon fa fa-th-large"></i>
                        <span class="app-menu__label">Dashboard</span>
                    </router-link>
                </li>
        <template v-if="$root.auth?$root.auth.role!='staff':false">
                <li>
                    <router-link class="app-menu__item active"  :to="{name:'employeeList'}">
                        <i class="app-menu__icon fa fa-user"></i>
                        <span class="app-menu__label">Staff</span>
                    </router-link>
                </li>
                <li>
                    <router-link class="app-menu__item active"  :to="{name:'attendanceList'}">
                        <i class="app-menu__icon fa fa-check"></i>
                        <span class="app-menu__label">Attendance</span>
                    </router-link>
                </li>
                <li>
                    <router-link class="app-menu__item active"  :to="{name:'timeEvents'}">
                        <i class="app-menu__icon fa fa-list-alt"></i>
                        <span class="app-menu__label">Prorota</span>
                    </router-link>
                </li>

                <li>
                    <router-link class="app-menu__item active"  :to="{name:'userLogin'}">
                        <i class="app-menu__icon fa fa-key"></i>
                        <span class="app-menu__label">User login </span>
                    </router-link>
                </li>
                <li>
                    <router-link class="app-menu__item active"  :to="{name:'holiday'}">
                        <i class="app-menu__icon fa fa-list-alt"></i>
                        <span class="app-menu__label">Holiday</span>
                    </router-link>
                </li>
       </template>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-pie-chart"></i>
                        <span class="app-menu__label">Product</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li>
                            <router-link :to="{name:'productCreate'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Product Create
                            </router-link>

                        </li>
                        <li>
                            <router-link :to="{name:'productList'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Product Manage
                            </router-link>

                        </li>

                    </ul>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-pie-chart"></i>
                        <span class="app-menu__label">Stock Activities</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li>
                            <router-link :to="{name:'stockCreate'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Stock Create
                            </router-link>

                        </li>
                        <li>
                            <router-link :to="{name:'stockList'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Stock Manage
                            </router-link>

                        </li>

                    </ul>
                </li>


                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-pie-chart"></i>
                        <span class="app-menu__label">Report</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <template v-if="$root.auth?$root.auth.role!='staff':false">
                        <li>
                            <router-link :to="{name:'employeeReport'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Employee Report
                            </router-link>

                        </li>
                        <li>
                            <router-link :to="{name:'holidayReport'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Holiday Report
                            </router-link>

                        </li>
                        </template>
                        <li>
                            <router-link :to="{name:'stockReport'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Product Stock Report
                            </router-link>

                        </li>
                        <li>
                            <router-link :to="{name:'stockReportUser'}" class="treeview-item">
                                <i class="icon fa fa-plus-square-o"></i>Staff Based Stock Report
                            </router-link>

                        </li>


                        <!--<li>-->
                            <!--<router-link :to="{name:'paySlip'}" class="treeview-item">-->
                                <!--<i class="icon fa fa-plus-square-o"></i>Pay slip-->
                            <!--</router-link>-->

                        <!--</li>-->

                    </ul>
                </li>
            </ul>
        </aside>
    </div>
</template>
<script>
    export default {
        name: "sidebar"
    }
</script>
<style scoped></style>