<template>
    <div>
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <template v-if="$root.auth?$root.auth.role!='staff':false">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            </template>
            <template v-else>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><h5 class="text-center">Welcome to Stock Management</h5></li>
                </ol>
            </template>


            <!-- Icon Cards-->
            <div class="row">
                <template v-if="$root.auth?$root.auth.role!='staff':false">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-dark o-hidden h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="card-body-icon">
                                <i class="fa fa-star-o fa-3x text-danger"></i>
                            </div>
                            <h5 class="pt-2">This Month Holiday</h5>
                            <h5 class="text-success">{{monthlyHoliday}}</h5>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left"></span>

                        </a>
                    </div>
                </div>


                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-dark o-hidden h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="card-body-icon">
                                <i class="fa fa-wheelchair fa-3x text-danger"></i>
                            </div>
                            <h5 class="pt-2">Today's Sicks</h5>
                            <h5 class="text-success">{{todaySick}}</h5>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left"></span>

                        </a>
                    </div>
                </div>


                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-dark o-hidden h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="card-body-icon">
                                <i class="fa fa-battery-empty fa-3x text-danger"></i>
                            </div>
                            <h5 class="pt-2">Today's Absence</h5>
                            <h5 class="text-success">{{todayAbsence}}</h5>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left"></span>

                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-dark o-hidden h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="card-body-icon">
                                <i class="fa fa-clock-o fa-3x text-danger"></i>
                            </div>
                            <h5 class="pt-2">Total Today Hour</h5>
                            <h5 class="text-warning">{{finalTime(todayAttendance)}}</h5>

                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left"></span>

                        </a>
                    </div>
                </div>
                </template>
            </div>


            <!-- DataTables  -->
            <template v-if="$root.auth?$root.auth.role!='staff':false">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Today Clock In and Out
                </div>
                <div class="login-info">

                    <div class="middle-content">
                        <h5 class="text-center text-dark"> </h5>
                        <table class=" custom-table mt-2">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> Name</th>
                                <th></th>
                                <th>Total Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in todayAttendance">
                                <td>{{index + 1}}</td>
                                <td>
                                <span :class="findUserActiveStatus(item.list)"> </span>
                                    <span>{{item.name}}</span>
                                </td>
                                <td>
                                    <table class="inner-table">
                                        <tr>
                                            <th>Type</th>
                                            <th>Time In</th>
                                            <th>Time Out</th>
                                            <th>Late</th>
                                            <th>Total Time</th>
                                        </tr>
                                        <tr v-for="singleItem in $root.needToParse(item.list)" v-if="item.list">
                                            <td>{{singleItem.type}}</td>
                                            <td>{{singleItem.clock_in?
                                                $root.getTime(singleItem.clock_in):''}}</td>
                                            <td>{{singleItem.clock_out?
                                                $root.getTime(singleItem.clock_out):''}}</td>
                                            <td>{{singleItem.late_time?singleItem.late_time:''}}</td>

                                            <td>{{ $root.differenceTwoTime(singleItem.clock_in,
                                                singleItem.clock_out)}}</td>
                                        </tr>


                                    </table>
                                </td>
                                <td>
                                    <span class="total-time">{{$root.calculatAllTotalTime(item.list)}}</span>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
            </template>



        </div>
    </div>
</template>

<script>

    export default {
        name: "home",
        data(){
          return{
              todayAttendance:[],
              monthlyHoliday:0,
              todaySick:0,
              todayAbsence:0,
              totalHour:0,
              totalWages:0,
          }
        },
        created(){
            this.getDashboardData(),
            this.getAttendanceData()

        },
        methods:{
            getAttendanceData() {
                axios.get('/get-today-attendance').then(res => {
                    this.todayAttendance = res.data

                })
            },
            getDashboardData() {
                axios.get('/get-dashboard-data').then(res => {
                        this.monthlyHoliday=res.data.monthlyHoliday,
                        this.todaySick=res.data.todaySick,
                        this.todayAbsence=res.data.todayAbsence,
                        this.totalHour=res.data.totalHour,
                        this.totalWages=res.data.totalWages
                })
             },
            findUserActiveStatus(val){
                let newVal=JSON.parse('['+val+']')
                let activeStatus='user-active'
                newVal.forEach(data=> {
                    if(!data.clock_out){
                        activeStatus='user-active'
                    }else{
                        activeStatus='user-inactive'
                    }
                })
                return activeStatus
            },
            finalTime(data){
                let totalTime=0;
                data.forEach(e=>{
                    let differentTime=this.$root.calculatAllTotalTime(e.list)
                    let tTime=this.moment(differentTime, 'h [hours] mm [mins] ss [seconds]')

                    var diff = tTime.diff(tTime.clone().startOf('day'));
                    if(differentTime.includes("-")){
                        totalTime -= diff;
                    }else{
                        totalTime += diff;
                    }
                })

                var dur = this.moment.duration(totalTime);
                return dur.hours()+' h : '+dur.minutes()+' m : '+dur.seconds()+' s'
            }
        }
    }
</script>

<style scoped>

</style>