<template>
    <div>
        <header-component v-if="$route.name!='userLogin'"></header-component>
        <sidebar-component  v-if="$route.name!='userLogin'"></sidebar-component>
        <main :class="{'app-content':$route.name!='userLogin'}">
            <router-view></router-view>
        </main>
        <footer-component  v-if="$route.name!='userLogin'"></footer-component>
    </div>
</template>
<script>

</script>
