<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="headerTtile">
                    Staff Create
                </div>
            </div>
            <form @submit.prevent="postEmployee">


            <div class="row shadow p-4 bg-default">

                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-header text-capitalize">
                            <i class="fa fa-info-circle"></i> Basic Staff Information
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 pt-2">
                                    <div class="form-group">
                                        <label class="label label-default">Staff ID *</label>
                                        <input type="text" name="employee_id"
                                               v-model="employee.employee_id"
                                               :class="{'form-control': true, 'danger-border': errors.has('employee_id') }"
                                               v-validate="'required'"
                                              >
                                        <div v-show="errors.has('employee_id')" class="help is-danger">
                                            {{ errors.first('employee_id')|removeUs }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Name * </label>
                                        <input type="text" name="name"
                                               v-model="employee.name"
                                               :class="{'form-control': true, 'danger-border': errors.has('name') }"
                                               v-validate="'required'">
                                        <div v-show="errors.has('name')" class="help is-danger">
                                            {{ errors.first('name') }}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Staff Type *</label>
                                        <v-select
                                                :options="['Full Time', 'Part Time', 'Casual']"
                                                name="employee_type"
                                                v-model="employee.employee_type"
                                                :class="{'danger-border': errors.has('employee_type') }"
                                                v-validate="'required'"
                                        >

                                        </v-select>
                                        <div v-show="errors.has('employee_type')" class="help is-danger">
                                            {{ errors.first('employee_type')|removeUs }}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Phone </label>
                                        <input type="text" class="form-control" v-model="employee.phone"
                                               placeholder="Phone">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Email </label>
                                        <input type="text" class="form-control"
                                               v-model="employee.email" placeholder="Email">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Em. Contact Number </label>
                                        <input type="text" class="form-control"
                                               v-model="employee.emergency_contact_number"
                                               placeholder="Em contact number">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Em. Contact Person </label>
                                        <input type="text" class="form-control"
                                               v-model="employee.emergency_contact_person"
                                               placeholder="Em contact person">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Nation Insurance No </label>
                                        <input type="text" class="form-control" v-model="employee.ni"
                                               placeholder="Nation Insurance No">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Nationality </label>
                                        <input type="text" class="form-control"
                                               v-model="employee.nationality" placeholder="Nationality">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Join Date </label>
                                        <date-picker v-model="employee.join_date"
                                                     lang="en"
                                                     type="datetime"
                                                     name="join_date"
                                                     format="YYYY-MM-DD HH:mm:ss"
                                                     placeholder="Select Date & Time">

                                        </date-picker>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Address </label>
                                        <textarea name="" cols="5" rows="1" class="form-control"
                                                  v-model="employee.address"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                   <div class="card">
                       <div class="card-header text-capitalize">
                           <i class="fa fa-info-circle"></i>  payment and holiday info
                       </div>
                       <div class="card-body">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label class="col-form-label">Pay Rate *</label>
                                      <input type="number" name="pay_rate"
                                             step="any"
                                             v-model="employee.pay_rate"
                                             :class="{'form-control': true, 'danger-border': errors.has('pay_rate') }"
                                             v-validate="'required'">
                                      <div v-show="errors.has('pay_rate')" class="help is-danger">
                                          {{ errors.first('pay_rate')|removeUs }}
                                      </div>

                                  </div>
                              </div>

                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label class="col-form-label">Tax Code *</label>
                                      <input type="text" name="tax_code"
                                             v-model="employee.tax_code"
                                             :class="{'form-control': true, 'danger-border': errors.has('tax_code') }"
                                             v-validate="'required'">
                                      <div v-show="errors.has('tax_code')" class="help is-danger">
                                          {{ errors.first('tax_code')|removeUs }}
                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label class="col-form-label">Entitled Holiday *</label>
                                      <input type="number" name="entitled_holiday"
                                             v-model="employee.entitled_holiday"
                                             :class="{'form-control': true,
                                             'danger-border': errors.has('entitled_holiday') }"
                                             v-validate="'required'">
                                      <div v-show="errors.has('entitled_holiday')"
                                           class="help is-danger">
                                          {{ errors.first('entitled_holiday')|removeUs }}
                                      </div>

                                  </div>
                              </div>
                              <!--<div class="col-md-3">-->
                                  <!--<div class="form-group">-->
                                      <!--<label class="col-form-label">Pension Percentage </label>-->
                                      <!--<input type="text" class="form-control"-->
                                             <!--v-model="employee.pension_percentage" placeholder="Pension Percentage">-->

                                  <!--</div>-->
                              <!--</div>-->
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label class="col-form-label">Bank Details </label>
                                      <textarea name="" cols="5" rows="1" class="form-control"
                                                v-model="employee.bank_details"></textarea>

                                  </div>
                              </div>
                          </div>
                       </div>
                   </div>
                </div>

                <div class="col-md-12">
                  <div class="card">
                      <div class="card-header text-capitalize"> <i class="fa fa-users"></i> user Login</div>
                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Username *</label>
                                    <input type="text" name="username"
                                           v-model="employee.username"
                                           :class="{'form-control': true, 'danger-border': errors.has('username') }"
                                           v-validate="'required'">
                                    <div v-show="errors.has('username')" class="help is-danger">
                                        {{ errors.first('username') }}
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Password *</label>
                                    <input type="password" name="password"
                                           v-model="employee.password"
                                           :class="{'form-control': true, 'danger-border': errors.has('password') }"
                                           v-validate="'required'">
                                    <div v-show="errors.has('password')" class="help is-danger">
                                        {{ errors.first('password') }}
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-3"><br>
                                    <button class="btn btn-secondary " type="submit">Submit</button>
                                    <button class="btn btn-warning " @click.prevent="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            </form>

        </div>



    </div>
</template>

<script>
    export default {
        name: "addItem",
        data(){
            return{
                employee:{}
            }
        },
        methods: {
            postEmployee(val) {
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.employee.join_date=this.employee.join_date?
                            this.moment(this.employee.join_date).format('YYYY-MM-DD HH:mm:ss'):null

                        axios.post('/employee',this.employee).then(res=>{
                            this.employee={}
                            this.flash(res.data.message, res.data.type, {
                                timeout: 3000,
                            });
                            this.$router.push({name:'employeeList'})

                        }).catch(error => {
                            let err
                            let errs = error.response.data.errors
                            for (err in errs) {
                                this.errors.add({
                                    'field': err,
                                    'msg': errs[err][0]
                                })
                            }
                        })
                    }
                })

            },
            saveAndClose() {
                this.postEmployee('goto')
            },
            cancel() {
                this.$router.push({name:'employeeList'})
            },


        }
    }
</script>

<style scoped>

</style>