<template>

    <div>

        <div class="customModal" v-if="paySlip">
            <div class="inner">
                <div class="header">
                    <div> Pay Report </div>
                    <div class="times" @click.prevent="closeModal">x</div>
                </div>
                <div class="body">



                    <div class="paySlip">
                        <div class="infoPrint">
                            <h3>Diamonds group Hr</h3>
                            <h5>Staff Pay Report</h5>
                        </div>
                        <br>

                        <div class="slipHead ">

                            <form @submit.prevent="getPayslipData()">

                                <div>
                                    <label class="d-block">From Date </label>
                                    <date-picker v-model="from_date"
                                                 lang="en"
                                                 type="date"
                                                 name="from_date"
                                                 format="YYYY-MM-DD"
                                                 v-validate="'required'"
                                                 placeholder="Select Date">

                                    </date-picker>
                                    <div v-show="errors.has('from_date')"
                                         class="help is-danger">
                                        {{ errors.first('from_date')|removeUs }}
                                    </div>
                                </div>
                                <div>
                                    <label class="d-block">To Date </label>
                                    <date-picker v-model="to_date"
                                                 lang="en"
                                                 type="date"
                                                 name="to_date"
                                                 format="YYYY-MM-DD"
                                                 v-validate="'required'"
                                                 placeholder="Select Date">

                                    </date-picker>
                                    <div v-show="errors.has('to_date')"
                                         class="help is-danger">
                                        {{ errors.first('to_date')|removeUs }}
                                    </div>
                                </div>
                                <div>
                                     <button class="" type="submit">Search</button>
                                    <button class="" @click.prevent="$root.printMe">Print</button>
                                </div>
                            </form>

                            <div> </div>
                        </div>

                        <div class="row_first">
                            <table class="manipulate">
                                <thead>
                                <tr>
                                    <th>Staff Id</th>
                                    <th>Staff Name </th>
                                    <th>Process Date</th>
                                    <th>N.I Number </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{paySlipModalData.employee_id}}</td>
                                    <td>{{paySlipModalData.name}}</td>
                                    <td>{{moment().format('YYYY-MM-DD')}}</td>
                                    <td>{{paySlipModalData.ni}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row_second">
                            <div>
                                <table class="manipulate">
                                    <thead>
                                    <tr>
                                        <th>Details</th>
                                        <th>Hours </th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Working details</td>
                                        <td>{{getTotalHour}}</td>
                                        <td>{{paySlipModalData.pay_rate}}</td>
                                        <td>{{getTotalAmount}}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Holidays:{{parseInt(paySlipModalData.entitled_holiday)+
                                            parseInt(holidayDataCount)}}
                                        </td>
                                        <td>Taken:{{holidayDataCount}}</td>
                                        <td>Remaining:  {{parseInt(paySlipModalData.entitled_holiday)}}</td>
                                        <td>

                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!--<div>-->
                                <!--<table class="manipulate">-->
                                    <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th>Deduction</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th>Amount </th>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>dsarf</td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>dsf</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>dsarf</td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>dsf</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tbody>&ndash;&gt;-->

                                <!--</table>-->
                            <!--</div>-->
                        </div>

                        <div class="row_third">
                            <div>
                                <p class="font-weight-bold">
                                    Diamonds Villa Limited <br>
                                    BROWN LOW STREET <br>
                                    London
                                </p>
                            </div>
                            <div>
                                <p class="slip-title"> Diamonds Villa Limited</p>
                                <table class="manipulate">
                                    <tr>
                                        <td><span>Hourly Based Amount </span></td>
                                        <td> {{getTotalAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td><span>Overtime</span></td>
                                        <td> <input type="number"
                                                    v-model="overtime" step="any"/></td>
                                    </tr>
                                    <tr>
                                        <td><span >Maternity /Paternity </span></td>
                                        <td> <input type="number"
                                                    v-model="materuity"
                                                    step="any"/></td>
                                    </tr>
                                    <tr>
                                        <td><span >Sick Pay </span></td>
                                        <td> <input type="number"
                                                    v-model="sickPay"
                                                    step="any"/></td>
                                    </tr>
                                    <tr>
                                        <td><span >Holiday Pay</span></td>
                                        <td> <input type="number"
                                                    v-model="holidayPay"
                                                    step="any"/></td>
                                    </tr>
                                    <tr>
                                        <td><span >Bonus </span></td>
                                        <td> <input type="number"
                                                    v-model="bonus"
                                                    step="any"/></td>
                                    </tr>
                                    <tr>
                                        <td><span >Other </span></td>
                                        <td> <input type="number"
                                                    v-model="other"
                                                    step="any"/></td>
                                    </tr>
                                    <tr>
                                        <td><span >Adjustment (-) </span></td>
                                        <td> <input type="number"
                                                    v-model="adjustment"
                                                    step="any"/></td>
                                    </tr>
                                </table>
                                <div class="netPay">
                                    <span >Gross pay : </span>
                                    <span >{{getNetPay}}</span>
                                </div>
                            </div>
                            <!--<div>-->
                                <!--<p class="slip-title">Year To Date </p>-->
                                <!--<table>-->

                                    <!--<tr>-->
                                        <!--<td><span>any span here </label></td>-->
                                        <!--<td><input type="text"></td>-->
                                    <!--</tr>-->
                                <!--</table>-->

                            <!--</div>-->
                        </div>

                        <div class="row_forth">
                            <div>
                                <p class="slip-title">Date and Tax Details</p>
                                <table class="manipulate text-center">
                                    <tr class="tax">
                                        <td>
                                            <span>Tax code: {{paySlipModalData.tax_code}}</span>
                                        </td>
                                        <td>From Date : {{getFromDate}}</td>
                                        <td>To Date :  {{getToDate}}</td>
                                    </tr>

                                </table>
                            </div>

                        </div>

                    </div>



                    <!--<div class="col-md-12 border-top">-->
                        <!--<button class="btn btn-sm  btn-danger mt-2 mb-2 float-right" @click.prevent="closeModal">Close-->
                        <!--</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="customModal" v-if="employeeModal">
            <div class="inner">
                <div class="header">
                    <div> Staff Information</div>
                    <div class="times" @click.prevent="closeModal">x</div>
                </div>
                <div class="body">
                    <div class="row pt-1 pl-4 pr-4">

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Staff ID</label>
                                <div>
                                    {{modalData.employee_id}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Name </label>
                                <div>
                                    {{modalData.name}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Staff Type </label>
                                <div>
                                    {{modalData.employee_type}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Phone</label>
                                <div>
                                    {{modalData.phone}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Email</label>
                                <div>
                                    {{modalData.email}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Em. Contact Number</label>
                                <div>
                                    {{modalData.emergency_contact_number}}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Em. Contact Person</label>
                                <div>
                                    {{modalData.emergency_contact_person}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>National Insurance No</label>
                                <div>
                                    {{modalData.ni}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Nationality</label>
                                <div>
                                    {{modalData.nationality}}
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Address</label>
                                <div>
                                    {{modalData.address}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Join Date</label>
                                <div>
                                    {{modalData.join_date}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Pay Rate *</label>
                                <div>
                                    {{modalData.pay_rate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1 pl-4 pr-4">


                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Tax Code </label>
                                <div>
                                    {{modalData.tax_code}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="adjustEmployeList">
                                <label>Entitled Holiday </label>
                                <div>
                                    
                                    {{parseInt(modalData.entitled_holiday)+holidayCount}}<br>
                                    Remaining ({{modalData.entitled_holiday}})
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row pt-1 pl-4 pr-4">
                        <div class="col-md-12">
                            <div class="adjustEmployeList">
                                <label>Bank Details</label>
                                <div>
                                    {{modalData.bank_details}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 border-top">
                        <button class="btn btn-sm  btn-danger mt-2 mb-2 float-right" @click.prevent="closeModal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-table">
            <data-table
                    ref="dataTable"
                    :search="true"
                    :columns="columns"
                    :addLink="'employeeCreate'"
                    :tableHeadline="'Staff List'"
                    :searchField="'name'"
                    :dateSearchFieldName="'start_date'"
                    :ajax="{
                            url: url
                        }"
            >
                <template slot="items" slot-scope="props">

                    <td class="text-center">

                        {{props.data.name}}

                    </td>
                    <td class="text-center">
                        {{props.data.username}}
                    </td>
                    <td class="text-center">
                        {{props.data.employee_type}}
                    </td>
                    <td class="text-center">
                        {{props.data.phone}}
                    </td>

                    <td class="text-center">

                        <div class="adjustAction">
                            <template>
                                <a href="" @click.prevent="callPaySlip(props.data)"
                                   class="text-success" title="Pay slip" >
                                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                </a>
                                <a href="" @click.prevent="callEmployeeModal(props.data)"
                                   class="text-info" title="Details">
                                    <i class="fa fa-th-list"></i>
                                </a>
                                <router-link :to="{name:'employeeEdit', params:{id:props.data.id}}"
                                             title="Edit" class="text-dark" >
                                    <i class="fa fa-edit"></i>
                                </router-link>

                                <a @click.prevent="deleteMe(props.data.id)"
                                   href="#" title="Delete" class="text-danger" >
                                    <i class="fa fa-trash"></i>
                                </a>
                            </template>
                        </div>
                    </td>
                </template>
            </data-table>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                employeeModal: false,
                paySlip: false,
                url: '/employee',
                from_date:'',
                to_date:'',
                columns: [
                    {name: 'Name'},
                    {name: 'Username'},
                    {name: 'Type'},
                    {name: 'Phone'},
                    {name: 'Action'},
                ],
                modalData:{},
                paySlipModalData:{},

                attendanceData:[],
                holiday:{},
                employee:{},
                holidayDataCount:0,
                overtime:0,
                materuity:0,
                sickPay:0,
                holidayPay:0,
                bonus:0,
                other:0,
                adjustment:0,
                holidayCount:0,
            }
        },
        computed:{
            getTotalHour(){
                return this.$root.calAllTimeFromRaw(this.attendanceData)
            },
            getTotalAmount(){
                let time = this.$root.calAllTimeFromRaw(this.attendanceData)
                let splitTime=time.split(':')
                let payRate=parseFloat(this.paySlipModalData.pay_rate)
                return parseFloat(parseInt(splitTime[0])*payRate +
                    parseInt(splitTime[1])*(payRate/60)+
                    parseInt(splitTime[2])*(payRate/3600)).toFixed(2)

            },
            getFromDate(){
                return this.moment(this.from_date).format('YYYY-MM-DD')
            },
            getToDate(){
                return this.moment(this.to_date).format('YYYY-MM-DD')
            },
            getNetPay(){
              let extraAmount= (this.$root.pData(this.overtime)+this.$root.pData(this.materuity)+
                  this.$root.pData(this.sickPay)+ this.$root.pData(this.holidayPay)+
                  this.$root.pData(this.bonus)+this.$root.pData(this.other))-
                  this.$root.pData(this.adjustment)
               return parseFloat(parseFloat(this.getTotalAmount)+extraAmount).toFixed(2)
            }
        },
        methods: {
            getPayslipData(val){
                this.$validator.validate().then((result) => {
                    if (val || result) {
                        this.parseTimeAndDate(this.from_date,this.to_date)

                        axios.get('/generate-pay-slip',{
                            params:{
                                from_date:this.from_date,
                                to_date:this.to_date,
                                employee_id:this.paySlipModalData.id,
                            }
                        }).then(res=>{
//                            this.paySlipData={}
                            this.attendanceData=res.data.payslip
                            this.employee=res.data.employee
                            this.holiday=res.data.holiday
                            this.holidayDataCount=res.data.holiday.original.holidayDataCount
                            this.flash(res.data.message, res.data.type, {
                                timeout: 3000,
                            });

                        }).catch(error => {
                            let err
                            let errs = error.response.data.errors
                            for (err in errs) {
                                this.errors.add({
                                    'field': err,
                                    'msg': errs[err][0]
                                })
                            }
                        })
                    }
                })
            },
            callPaySlip(val){
                this.paySlipModalData=val
                this.from_date=this.moment().startOf('month').format('YYYY-MM-DD')
                this.to_date=this.moment().endOf('month').format('YYYY-MM-DD')
                this.getPayslipData('initialDate')
                this.paySlip = true
            },

            callEmployeeModal(val) {
                axios.get('/get-employee/holiday-count/'+val.id).then(res=>{
                    this.holidayCount=res.data.holidayDataCount
                })
                this.modalData=val
                this.employeeModal = true
            },
            parseTimeAndDate(val,val2){
                this.from_date=val?
                    this.moment(val).format('YYYY-MM-DD'):null
                this.to_date=val2?
                    this.moment(val2).format('YYYY-MM-DD'):null
            },

            closeModal() {
                this.employeeModal = false
                this.paySlip = false
            },

            deleteMe(id) {
                if (confirm("Are you sure?")) {
                    axios.delete('/employee/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            },

        }

    }
</script>
