

  // Fonts
  @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
  @import "~vue-flash-message/dist/vue-flash-message.min.css";
  @import "theme";

  // Variables
  @import "variables";

  @font-face {
    font-family:HighlandGothicFLF;
    src: url('../fonts/HighlandGothicFLF.ttf')
  }

  @font-face {
    font-family:TitilliumWeb;
    src:url('../fonts/TitilliumWeb-Regular.ttf')
  }

  $primary:#4ba8fa;
  $secondary:#9BE03F;


  // Bootstrap
  @import '~bootstrap/scss/bootstrap';
  @import "~font-awesome/scss/font-awesome";
  @import "custom";
  @import "user-login";

  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
