@media print {

  .customPrint{
    .table.custom_table{
      thead tr th,tbody tr td{
        &:last-child{
          display: none!important;

        }
      }
    }
  }

  .slip-title{
    color:black!important;
  }
  .total-time{
    color:black!important;
    font-weight: bold;
  }

  .paySlip{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color:black!important;
    .infoPrint{
      display: block!important;
    }
    .row_first{
      flex: 0;
    }
    .row_forth{

      .slip-title{
        text-align: center;
        font-weight: bold;
        color:black!important;
        border: 1px solid black;
      }
    }
    .manipulate thead tr th {
      color:black!important;
      border-top:1px solid black!important;
      text-align: center;
      font-weight: bold;
    }
    .manipulate tbody tr td {
      text-align: center;
    }
    .manipulate {
      tr{
        border: 1px solid black;
        td{
          color:black!important;

        }
      }
    }


    .slipHead{
      display: none!important;
    }
  }

  .hide-on-print{
    display: none!important;
  }
  .grand-total-time{
    color:black!important;
    font-weight: bold;
  }

  .right-print {
    display: none !important;
  }
  .footer-hide {
    display: none !important;
  }
  .dataTableHead {
    justify-content: center !important;
    width: 100%;
    text-transform: uppercase;
    color: black !important;
    font-weight: bold;
    i {
      display: none;
    }
  }
  .app-footer {
    display: none !important;
  }
  .infoPrint {
    display: block !important;
    width: 100%;
    text-align: center;
    color: Black;
    font-weight: bold;
  }


  .table.custom_table{
    thead{
      tr{
        th {
          &:last-child {
            display: none!important;
          }
          &:nth-child(7) {
            display: block!important;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:last-child {
            display: none!important;
          }
          &:nth-child(7) {
            display: block!important;
          }
        }
      }
    }
  }

  /* attendance list print modify */

  .attendance_list{
    #table1{
      thead{
        tr{
          th{
            &:nth-child(3){
              display: block!important;
            }
          }
        }
      }
      tbody{
        tr{
          td{
            &:nth-child(3){
              display: block!important;
            }
            .inner-table{
              tr{
                th,td{
                  &:last-child{
                    display: none!important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

.inner-table{
  tr{
    th,td{
      &:nth-child(2){
       width:115px;
        -ms-word-break: break-word;
        word-break: break-word;
      }
    }
  }
}

.login-panel{
  .card-header{
    background: #3762f2;
    color: #fff;

  }
  .card{
    box-shadow: 1px 12px 24px #191a1b54;
    border: 2px solid #4d6fe2;
  }
  .card-body{

  }
}

.table thead th{
  border-bottom: 0!important;
}


.infoPrint{
  display: none;
}
.dataTableHead{
  display: flex;
  align-items: center;
  justify-content: start;
}

.card-header{
  font-size: 16px;
  color: #212e71;
}
.employeReport{
  .mx-datepicker{
    width: 100%;
  }
}
.customInput{
  width:100%;
}
.slip{
  width: 100%;
  thead{
    background: #DED6BF;
    color: #000000;
    tr{
      th{
          padding: 2px 7px;
          &:not(:last-child){
            border-right: 1px solid #fff;
          }
      }
    }
  }
  tbody{
    tr{
      td{
        padding: 2px 7px;
      }
    }
  }
}





.manipulate{
     width:100%;
     margin: 10px 0;
    thead {
      tr{
        background: #1c1c1d;
        th{
          font-weight: normal;
          padding: 2px 10px;
          color: bisque;
          text-transform: capitalize;
          border-right: 1px solid black;
          border-left: 1px solid black;
        }

      }
    }
  tbody{
    tr{
      td{
          padding: 2px 10px;
          border: 1px solid black;

        label{
          margin: 0;
        }

      }
    }
  }
  tfoot{
    font-weight: bold;
    border: 1px solid black;
    padding: 0 10px;
    background: rgba(255, 235, 59, 0.12156862745098039);
    tr{
      td{
        padding:0 10px;

      }
    }
  }

  tr{
    td{
      span{
        font-weight: bold;
        padding: 0 5px;
      }

    }
  }

}
.netPay{
  span{
    font-size: 20px;
  }
}
.slip-title{
  font-size: 14px;
  margin: 0;
  padding: 2px 9px;
  background: #1c1c1d;
  color: bisque;
  text-align: left;
}
.tax{
  @media(max-width:425px){
    display: flex;
    flex-direction: column;
  }

}

.paySlip{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  background: #ffe3d2;
  padding: 10px;

form{

  display: flex;
  flex-wrap: wrap;
  @media(max-width:425px){
    flex-direction: column;
  }
  div{
    &:last-child{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin: 1px 3px;
      button{
        background: #1c1c1d;
        border: 0;
        padding: 4px 10px;
        color: #fae3d2;
        margin-right:5px;
        border-radius: 3px;
        @media(max-width:425px){
          margin-top: 10px;
        }
        &:first-child{
          background: #1c1c1d;
        }
        &:last-child{
          background: #1c1c1d;
        }
        &:hover{
          background: #2196F3;
        }
      }
    }
  }
}
  .slipHead{
    display: flex;
    width: 100%;
    div{
      flex:1;
        span{
          flex:1;
          margin-right: 5px;
        }
    }
  }
  .row_first{
    flex:1;
    width: 100%;
    @media(max-width: 768px){
      overflow: auto;
    }

  }
  .row_second{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    @media(max-width: 768px){
      overflow: auto;
    }
      div{
        &:first-child{
          flex:2;

        }
        &:last-child{
          flex:1;

        }
      }
  }
  .row_third{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;

    input{
      height: 24px;
      width: 100%;
      padding: 1px 5px;
      text-align: right;
    }

    @media(max-width: 768px){
      flex-direction: column;
      width: 100%;
      overflow: auto;
    }
    div{
      flex:1;
      flex-direction: column;
      margin: 10px 2px;
      border: 1px dashed #1c1c1d;
      padding: 10px;
      &:last-child{
        flex: 2;
        text-align: right;
      }
      @media(max-width: 768px){
        width: 100%;
      }

    }
  }
  .row_forth{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    div{

        flex:1;
        background: black;
        color: bisque;

    }
  }
}



.holidayReport{
  .reportData{

    @media(max-width: 768px){
      overflow-x: scroll;
      width: 100%;
    }

    .holiday-Report-Table{
      border:1px solid #E1E6E9;
      thead{
        th{
          color: #1c1c1d!important;
        }
      }
      tbody{
        tr{
          color:#343434;
          &:nth-child(even){
            background: #efefef;
          }
            &:hover{
              background: #ffffe3 !important;
            }

          td{
            padding: 0.45rem!important;
            border-top: 1px solid #dee2e67a!important;
            text-align: center;
            &:first-letter{
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .reportHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px;
    width: 100%;
    box-shadow: -1px -8px 25px #00000012;

    @media(max-width: 768px){
      flex-direction: column-reverse;
    }
    div{
      flex:1;

      &:nth-child(2){
        text-align: center;
        @media(max-width: 768px){
         order:2;
        }
        h4{
          line-height: 1.4;
        }
      }
      &:nth-child(3){
        text-align: right;
      }
    }
  }
}
.time-events{
  flex-basis: 31.4%;
  padding: 10px;
  margin: 7px;
  border-left: 6px solid #4ba9f4;
  width: 100%;
  font-size: 14px;
  color: #292727;
  border: 1px solid #4ba9f46e;
  border-left: 4px solid #4ba9f4;
  box-shadow: 1px 4px 15px #0000001f;
  @media(max-width: 768px){
    flex-basis: 100%!important;
  }
  @media all and (max-width: 1024px) and (min-width: 770px){
    flex-basis: 46%!important;
  }
  .details{
    background: #0e695505;
    padding: 2px 3px;
    color: #302e2e;
    font-size: 12px;
    &:first-letter{
      text-transform: uppercase;
    }
  }
  div{

    &:nth-child(1){
      font-weight: bold;
      background: #e7f6fb;
      color: #2c6fa5;
      font-size: 13px;
      padding: 4px 0;
      text-align: center;
    }
    &:nth-child(2){
      background: #48e1b02b;
      font-size: 13px;
      color: #033d6b;
      text-align: center;
      padding: 3px 0;
      font-weight: bold;

      span{
        &:last-child{
          font-size: 15px;
          padding: 0 6px;
        }
      }
    }
    &:nth-child(3){
      background: #FF5722;
      font-size: 15px;
      color: #fff;
      text-align: center;
      padding: 2px 0;
      span{
        &:last-child{
          padding: 0 6px;
        }
      }
    }
    &:nth-child(4){
      background:#8bc34a;
      font-size: 15px;
      color: #fff;
      text-align: center;
      padding: 2px 0;
    }
  }
}

.description::first-letter{
  text-transform: uppercase;
}

.adjustEmployeList{
  border: 1px solid #40586e0f;
  margin: 10px 0;
  background: #958da31a;
  div{
    word-break: break-all;
    color: #5094fb;
    padding: 3px 6px;
    text-transform: capitalize;
    font-size: 14px;
  }
  label{
    background:#7a7a7a0d;
    display: block;
    margin-bottom: 0;
    color:#292828;
    padding: 1px 8px;
  }
}

.customModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 17, 17, 0.709804);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3%;

  .inner{

    border-radius: 3px;
    border-bottom: 5px solid #041e1f70;
    width: 60%;
    background: #fff;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar{
      background-color: #f5f5f5;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 50px;
      background: linear-gradient(to right, #fff, #e4e4e4);
      border: 1px solid #ccc;
    }

    @media(max-width:768px){
      top: 4%;
      width:90%;
      height: auto;
      position: relative;
    }

    .header{
      padding: 4px 15px;
      background: #40596E;
      font-size: 14px;
      color: #ededed;
      letter-spacing: 1px;
      display: flex;
      justify-content: space-between;
      .times{
        color:#fff;
        font-size: 16px;
        &:hover{
          color:red;
          cursor:pointer;
        }
      }
    }



  }
}
.user-view{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
  background: #4ba9f417;
  .user{
    background: none !important;
    padding-left: 6px!important;
  }
  .name{
    background: none!important;
    text-align: left;
    padding-left: 6px!important;
    font-weight: normal!important;
    text-transform: capitalize;
    color: #000000!important;
    font-size: 14px!important;
  }
}
  .errorStyle{
    padding: 1px 20px;
    border: 1px solid red;
    border-radius: 23px;
    margin-bottom: 12px;
  }

  .adjustAction{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      &:nth-child(1){
        padding-right: 8px;
      }
      &:nth-child(2){
        padding-right: 8px;
      }
      &:nth-child(3){
        padding-right: 8px;
      }
    }
  }

  .custom_table{
        thead{
          tr{
            th{
              padding: 0.25rem!important;
              vertical-align: middle;
              &:nth-child(3){
                text-align: center;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              padding: 0.25rem!important;
              vertical-align: middle;
              text-align: center;
              &:nth-child(3){
                text-align: center;
              }
              &:not(:first-child){
                border-left:1px solid #e0e3e7;
              }
            }

            &:last-child{
              border-bottom:1px solid #e0e3e7;
            }
            &:hover{
              &:nth-child(odd) {
                background: rgba(214, 239, 18, 0.10196078431372549);
              }
            }
          }
        }

            .inner-table{
              width: 100%;
              tr{
                th{
                    padding: 0!important;
                    vertical-align: middle;
                }
                tr{
                  td{
                    padding: 0!important;
                    vertical-align: middle;
                  }
                }
              }
            }
  }

.headerIcon{
  font-size: 15px;
  margin-right:10px;
    i{
      font-size: 18px!important;
      color: #212e71;
      &:hover{
        color: #18c8f1;
      }
    }
}
.logout-box{

  text-align: right;
  min-width: 340px;
  padding-top: 5px;

  @media(max-width:375px){
    width: 100%;
    padding: 6px 20px;
    max-width: 260px;
    min-width: 260px;
  }

  @media(max-width:425px){
    width: 100%;
    padding: 6px 20px;
  }

}

.parentFlex{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .dropdown-toggle{
    min-width:188px;
  }
  .form-control{
    height: 34px;
  }
  .col-flex{
    flex:1;
    &:nth-child(1){
      flex-basis: 107px;
      display: flex;
      @media(max-width: 768px){
        flex-basis: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
      }
    }
    &:last-child{
      flex: 0;
    }
    @media(max-width: 768px){
      flex: 100%;
    }

  }
  .mx-input,.mx-datepicker{
    max-width: 112px;
    @media(max-width: 768px){
     max-width: 100%!important;
    }
  }
}

.flash__wrapper{
  position: fixed;
  top:40px;
  z-index: 1;
  left: 40%;
}

.content-area{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;
  .left-bar{
    flex-basis: 24%;
    border: 1px solid #eaeaea;
    padding: 6px 6px 0 6px;
    max-height: 90vh;
    overflow-x: hidden;
    position: relative;

    &::-webkit-scrollbar{
      background-color: #f5f5f5;
      width: 7px;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 50px;
      background: linear-gradient(to right, #fff, #e4e4e4);
      border: 1px solid #ccc;
    }

    @media(max-width:768px){
       flex-basis: 100%;
     }

    @media only screen and (max-width:1024px) and (min-width:769px)  {
      flex-basis: 38%;
    }

    .form-check {
      position: relative;
      display: block;
      border-bottom: 1px solid #eaeaea;
      padding: 7px 18px;
    }


  }
  .right-bar{
     width: 73%;
        @media(max-width:768px){
         width: 100%;
        }
        @media only screen and (max-width:1024px) and (min-width:769px)  {
          width: 58%;
        }

    .adjustOverflow{
      height: calc(100vh - 100px);
      overflow-x: hidden;
      overflow-y: auto;
      border: 1px solid #eaeaea;
      padding: 10px;
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: start;
      box-shadow: 0 7px 41px -26px #00000047;
      &::-webkit-scrollbar{
        background-color: #f5f5f5;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 50px;
        background: linear-gradient(to right, #fff, #e4e4e4);
        border: 1px solid #ccc;
      }

    }

    .shift-table{
      width: 100%;
      background: #fff;
      thead{
        tr{
          text-transform: capitalize;
          text-align: center;
          th{
            min-width: 100px;
            padding:10px;
            border: 1px solid gainsboro;
          }
        }
      }
      tbody{
        tr{

          &:hover{
            background: rgba(255, 235, 59, 0.1803921568627451);
            img{
              transform: translateX(-3px);
            }
          }
          td{
            padding:10px;
            border: 1px solid gainsboro;
            vertical-align: top;

            .content{
              display: flex;
              img{
                border: 1px solid #dddddd;
                width: 40px;
                box-shadow: 1px 5px 12px #00000045;
                transition: transform 0.6s ease-in ;
              }
              .info{
                padding-left: 10px;
                min-width: 140px;
              }
            }
          }
        }
      }
    }
  }
}


.user-active{
 &:before{
   content: '';
   width: 8px;
   height: 8px;
   background: #02ec02;
   position: absolute;
   left: -6px;
   top: 25px;
   border-radius: 50%;
 }
}
    .user-inactive{
      @extend .user-active;
      &:before{
         background: #919192;
       }
    }

.logout-modal{
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(66, 74, 134, 0.9019607843137255);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;

      .modal-structure{
        background: lightgrey;
        border-radius: 6px;
        width:50%;
        .modal-header{
          background: #3e76cd;
          color:#fff;
          padding: 7px;
          display: flex;
          justify-content: space-between;
          div{
              padding: 0px 8px;
              font-size: 14px;
          }
        }
        .modal_body{
          padding: 12px 16px;
          background: #fff;
        }
        .modal-footer{
          display: flex;
          justify-content: flex-end;
          background: #F1F1F1;
        }
      }
}

    body{

      background-image: linear-gradient(to right, #ff000000, #0000ff00), url(/images/165809cbe3a2419.jpg?2dc1821…);
      background-repeat: no-repeat;
      height: 100%;
      background-size: cover;
      background-position: 56% 0;


      &::-webkit-scrollbar{
        background-color: #f5f5f5;
        width: 7px;
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 50px;
        background: linear-gradient(to right, #fff, #e4e4e4);
        border: 1px solid #ccc;
      }

      font-family:TitilliumWeb;

    }

    //::-moz-selection {
    //  color: #FFF;
    //  background-color:#fff;
    //}
    //
    //::selection {
    //  color: #FFF;
    //  background-color:#fff;
    //}

    .btn-secondary{
      background: $primary!important;
      color: #fff;
      font-weight: bold;
      border:0;
    }

    .app-menu {
      margin-top: -17px;
    }

    .app-content{
      background: #f6f8ff;
    }
    .form-group{
      label{
        font-weight: 600;
        color: #656968;
      }
    }
    .headerTtile{
      background: $primary ;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 13px;
      font-weight: 500;
      color: #ffffff;
      font-size: 18px;
    }
    .app-footer{
      background: #eaeaea;
      color:#243fe1;
    }

    .app-header {
      background-color:#122f81;
    }
    .app-header__logo{
      background: none;
      font-family: TitilliumWeb;
    }

    .app-menu__item.active{
      border-left-color: $primary!important;
    }

     .app-menu__item.active.router-link-exact-active.open.active{
       background: #03A9F4 !important;
       border-left-color: $primary!important;
     }


    .app-sidebar{
     background: #4e4e4e!important;
    }

    .app-menu__item.active{
      background: transparent;
      color:#000000;
      &:hover{
        background: #03A9F4;
        color: #fff!important;
      }
    }

    .app-menu__item.active {
      background: #ffeb3b00;
      color: #f4f4f4;
    }

.treeview.is-expanded [data-toggle='treeview'] {
  border-left-color: #7389fe;
  background: #383838;
}
.treeview{
  .app-menu__item{
    background: transparent;
    &:hover{
      background: #03A9F4;
    }
  }
}
.treeview-item.active, .treeview-item:hover, .treeview-item:focus {
  background: #03A9F4;
  text-decoration: none;
  color: #fff;
}
.treeview-menu {
  background: #353535;
}
.danger-border{
  color: #ca0000!important;
}

  .is-danger{
    color: #f00000 !important;
  }
  .v-select input[type=search]{
    padding:0px!important;
    margin:0px!important;
    max-height: 29px;
  }
  .v-select .dropdown-toggle{
    border: 1px solid #dadada!important;
  }
  .dropdown-toggle::after {
    content:none;
  }
  .v-select .open-indicator{
    margin-right: 12px;
  }

  .nameAndTime{
    display: flex;
     justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #aaaaab36;
    color: #252525;
    padding: 2px 10px;
    @media(max-width: 768px){
      flex-direction: column;
    }
    div{
      &:first-child{
        flex: 1;
        span{
          font-size: 18px;
        }
      }
      &:last-child{
        display: flex;
        flex: 0.5;
        align-items: center;
      }
    }
  }