.app-sidebar__toggle{
  background: #122f81 !important;
  &:hover{
    background: $primary!important;
  }
}

.total-time{
  background: #495796;
  padding: 2px 11px;
  color: #fff;
  border-radius: 13px;
}

.grand-total-time{
  background:darkolivegreen;
  padding: 5px 20px;
  color: #fff;
  border-radius: 13px;
}

.custom-table{
    background: rgba(241, 241, 241, 0.6392156862745098);
    width: 100%;
        thead{
          tr{
            background: white;

            th{
              padding: 3px 9px;
              color: #244282;
              font-size: 13px;
              &:last-child{
                text-align: center;
              }
            }
          }
        }
        tbody{
          tr{
              border-top: 1px solid rgba(88, 88, 88, 0.09019607843137255);
              border-bottom: 1px solid rgba(88, 88, 88, 0.09019607843137255);
              background: #ffffff3b;
                &:hover{
                  background: #ffffff;
                }
                td{
              position: relative;
              font-size: 13px;
              padding: 3px 9px;
              text-transform: capitalize;

                .total-time{
                  background: #495796;
                  padding: 2px 11px;
                  color: #fff;
                  border-radius: 13px;
                }

              &:last-child{
                text-align: center;
                border-left: 1px solid #e6e6e7;
              }

              &:nth-child(2){
                max-width:160px;
                word-break: break-word;
              }

              .inner-table{
                width: 100%;
                text-align: center;
                tr{
                  border:0;

                  td{
                    color: #052d8c;
                    border: 1px solid #e5e5e6;
                    background: rgba(255, 255, 255, 0.411765);
                    font-weight: bold;
                  }
                }
              }
            }

          }
        }
}


.user-login{
  background-image:linear-gradient(to right,#3f51b547, #305cc1e0),url(/images/login.svg);
  position: fixed;
  background-size: cover;
  top: 0;
  background-position: 58% 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 7%;

  @media(max-width: 768px){
    padding-top: 14%;
  }

  .inner{
    box-shadow: 0 15px 35px 0 rgba(60, 66, 87, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    height: auto;
    width: 66%;
    border: 5px solid #4272e4;
    border-radius: 3px;

    @media(max-width:768px) {
        width: 90%;
    }

    .header{
      display: flex;
      justify-content: space-between;
      padding: 6px 10px;
      background: #305cc1;
      color: #fff;
      font-size: 13px;
      flex-wrap: wrap;
    }
    .user-login-panel{
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;

      @media(max-width:425px) {
        padding: 20px 0;
      }
    }
  }
}
.login-user-details{
  max-width: 230px;
  padding: 10px;
  background: grey;
}
  .login-box{
    border: 1px solid #e0e3e78f;
    min-width: 250px;
    background: white;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    label{
      font-size: 13px;
      font-weight: bold;
      color: #525252;
      padding-right: 3px;
    }
    p{
      font-size: 17px;
      text-align: center;
      color: #5e6a9a;
      font-family: HighlandGothicFLF;
    }

  }
.input-form{
  width: 230px;
  border: 1px solid #eaeaea;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 1px 5px;
  background: #F1F1F1;
  height: 30px;
  color: #3e3e3e;
  font-size: 14px;


  &::placeholder{
    color:grey;
  }

}

.login-user-details{
  max-width: 230px;
  padding: 4px 14px;
  background: #ffffffe8;
  text-align: center;
  border-radius: 6px 6px 0 0;
  font-size: 13px;
  color: #33406f;
  border-bottom: 1px solid #0e2a061a;
  background: #3b59c929;
  font-size: 14px;
}
.submit{
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  padding: 3px 14px;
  color: #666667;
  margin-top: 10px;
  border: 1px solid #c1c1c1;
  font-weight: bold;
  &:hover{
    background: #0b69a2;
    color: #fff;
    border: 1px solid transparent;
  }
}
.login-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  padding:7px;
  background: #dee2e6;
  padding-bottom: 18px;
  max-height: 300px;

  .left-content,.right-content{
    flex:1;
  }
  .middle-content{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    max-height: 290px;
    overflow-y: auto;
    overflow-X: hidden;


          &::-webkit-scrollbar{
            background-color: #f5f5f5;
            width: 5px;
          }
          &::-webkit-scrollbar-thumb{
            border-radius: 30px;
            background: linear-gradient(to right, #fff, #e4e4e4);
            border: 1px solid #ccc;
          }
    .login-time{
      display: flex;
      flex-wrap: wrap;

      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }


  }
  label{
    font-size: 13px;
    font-weight: bold;
    color: #525252;
    padding-right: 3px;
  }
}
.user_log{
  border: 1px solid grey;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 1px 5px;
  width: 70px;
}
.log-out{
  background: #F44336;
  border: 0;
  color: #f7f6f6;
  border-radius: 3px;
  height: 19px;
  font-size: 11px;
  margin: 0 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover{
    background: #ca362c;
  }

}

.default-background{
  background: #1a55e1;
}
