<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="headerTtile">
                    Attendance Create
                </div>
            </div>
            <form @submit.prevent="postAttendace">
                <div class="row shadow p-5 bg-default">
                   <div class="col-lg-3 col-md-12">
                       <div class="form-group">
                           <label class="col-form-label">Employee *</label>
                           <v-select
                                   :options="employees"
                                   name="employee"
                                   label="name"
                                   v-model="attendance.employee"
                                   :class="{'danger-border': errors.has('employee') }"
                                   v-validate="'required'"
                           >

                           </v-select>
                           <div v-show="errors.has('employee')" class="help is-danger">
                               {{ errors.first('employee') }}
                           </div>

                       </div>
                   </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Type *</label>
                            <v-select
                                    :options="['Regular','Sick','Absence']"
                                    name="type"
                                    label="name"
                                    v-model="attendance.type"
                                    @input="attendance.clock_in=null,attendance.clock_out=null"
                                    :class="{'danger-border': errors.has('type') }"
                                    v-validate="'required'"
                            >

                            </v-select>
                            <div v-show="errors.has('type')" class="help is-danger">
                                {{ errors.first('type') }}
                            </div>

                        </div>
                    </div>
                   <div class="col-lg-3 col-md-12">
                       <div class="form-group d-flex flex-column">
                           <label class="col-form-label">Clock In </label>
                           <date-picker v-model="attendance.clock_in"
                                        lang="en"
                                        type="datetime"
                                        name="clock_in"
                                        format="YYYY-MM-DD HH:mm:ss"
                                        v-validate="'required'"
                                        placeholder="Select Date & Time">

                           </date-picker>
                           <div v-show="errors.has('clock_in')"
                                class="help is-danger">
                               {{ errors.first('clock_in')|removeUs }}
                           </div>

                       </div>
                   </div>
                   <div class="col-lg-3 col-md-12">
                       <div class="form-group d-flex flex-column">
                           <label class="col-form-label">Clock Out </label>
                           <date-picker v-model="attendance.clock_out"
                                        lang="en"
                                        type="datetime"
                                        name="clock_out"
                                        format="YYYY-MM-DD HH:mm:ss"
                                        v-validate="'required'"
                                        placeholder="Select Date & Time">

                           </date-picker>
                           <div v-show="errors.has('clock_out')"
                                class="help is-danger">
                               {{ errors.first('clock_out')|removeUs }}
                           </div>

                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="form-group">
                           <label class="col-form-label">Details </label>
                           <textarea name=""  rows="2"
                                     class="form-control"
                                     v-model="attendance.details"></textarea>

                       </div>
                   </div>
                   <div class="col-md-12">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                        <button class="btn btn-warning" @click.prevent="cancel">Cancel</button>
                    </div>
                </div>
            </form>

        </div>



    </div>
</template>

<script>
    export default {
        name: "addItem",
        data(){
            return{
                attendance:{},
                employees:[]
            }
        },
        created(){
            axios.get('/attendance/create').then(res=>{
                this.employees=res.data
            })
        },
        methods: {
            postAttendace(val) {
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.parseTimeAndDate(this.attendance)
                        this.attendance.details=this.attendance.details?
                            this.attendance.details.replace(/\n/g, "<br>"):null,
                        axios.post('/attendance',this.attendance).then(res=>{
                            this.attendance={}
                            this.flash(res.data.message, res.data.type, {
                                timeout: 3000,
                            });
                            this.$router.push({name:'attendanceList'})
                        }).catch(error=>{
                            let errors = error
                            for (var allError in errors) {
                                this.errors.add({
                                    'field': allError,
                                    'msg': errors[allError][0]
                                })
                            }
                        })
                    }
                })

            },
            saveAndClose() {
                this.postAttendace('goto')
            },
            cancel() {
                this.$router.push({name:'attendanceList'})
            },
            parseTimeAndDate(val){
                this.attendance.clock_in=val.clock_in?
                    this.moment(val.clock_in).format('YYYY-MM-DD HH:mm:ss'):null
                this.attendance.clock_out=val.clock_out?
                    this.moment(val.clock_out).format('YYYY-MM-DD HH:mm:ss'):null
            }


        }
    }
</script>

<style scoped>

    .mx-datepicker{
        width:auto;
    }

</style>