<template>
  <div>

          <div class="customModal" v-if="attendanceModal">
                <div class="inner">
                        <div class="header">
                            <div> Attendance Information</div>
                            <div class="times"  @click.prevent="closeModal" >x</div>
                        </div>
                        <div class="body">
                            <div class="row pt-1 pl-4 pr-4">

                                <div class="panel panel-default mt-3 mb-3 p-2 w-100">
                                    <div class="panel-heading">
                                        <h5>Activities Details</h5>
                                    </div>
                                    <div class="panel-body">
                                        <div v-html="modalData.details"  class="description">
                                        </div>
                                    </div>
                                </div>

                            </div>

                           <div class="col-md-12 border-top">
                               <button class="btn btn-sm  btn-danger mt-2 mb-2 float-right" @click.prevent="closeModal">Close</button>
                           </div>
                        </div>
                </div>
          </div>

      <div class="card card-table">
          <data-table
                  ref="dataTable"
                  :search="true"
                  :columns="columns"
                  :addLink="'attendanceCreate'"
                  :tableHeadline="'Atendance List'"
                  :searchField="'name'"
                  :dateSearchFieldName="'start_date'"
                  :ajax="{
                            url: url
                        }"
          >
              <template slot="items" slot-scope="props">

                  <td class="text-center">

                      {{props.data.name}}

                  </td>
                  <td class="text-center">
                      <table class="inner-table">
                          <tr>
                              <th>Date</th>
                              <th>Type</th>
                              <th>Time In</th>
                              <th>Time Out</th>
                              <th>Late</th>
                              <th>Total Time</th>
                              <th>Action</th>
                          </tr>
                          <tr v-for="singleItem in $root.needToParse(props.data.list)" v-if="props.data.list">
                              <td>{{moment(singleItem.clock_in).format('DD-MM-YY')}}</td>
                              <td>{{singleItem.type}}</td>
                              <td>{{singleItem.clock_in?$root.getTime(singleItem.clock_in):''}}</td>
                              <td>{{singleItem.clock_out?$root.getTime(singleItem.clock_out):''}}</td>
                              <td>{{singleItem.late_time?singleItem.late_time:''}}</td>
                              <td>{{$root.differenceTwoTime(singleItem.clock_in,singleItem.clock_out)}}</td>


                              <td class="text-center">
                                  <div class="adjustAction">
                                      <template>
                                          <a href="#" class="" @click.prevent="callModal(singleItem)" title="Activities" >
                                              <i class="fa fa-th-list text-primary"></i>
                                          </a>
                                          <router-link :to="{name:'attendanceEdit', params:{id:singleItem.id}}" title="Edit" class="text-dark" >
                                              <i class="fa fa-edit text-dark"></i>
                                          </router-link>

                                          <a @click.prevent="deleteMe(singleItem.id)" href="#" title="Delete" class="text-danger" >
                                              <i class="fa fa-trash text-danger"></i>
                                          </a>
                                      </template>
                                  </div>
                              </td>
                          </tr>

                      </table>
                  </td>
                  <td>
                    <span class="total-time">
                        {{$root.calculatAllTotalTime(props.data.list)}}
                    </span>
                  </td>


              </template>
          </data-table>
      </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                url:'/attendance',
                columns: [
                    {name: 'Name'},
                    {name: ''},
                    {name: 'G.Total Time'},
                ],

                attendanceModal:false,
                modalData:null,
            }
        },

        methods:{

            callModal(val){
                this.modalData=val
                this.attendanceModal=true
            },
            closeModal(){
                this.attendanceModal=false
            },

            deleteMe(id) {
                if(confirm("Are you sure?")){
                    axios.delete('/attendance/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            }
        }

    }
</script>
