<template>
    <div>
        <div class="container employeReport hide-on-print">
            <div class="row">
                <div class="headerTtile">
                    Staff Report
                </div>
            </div>
            <form @submit.prevent="getReportData()">
                <div class="row shadow p-5 bg-default d-flex flex-wrap">
                <div class="col-md-4">
                        <label class="col-form-label">Employee *</label>
                        <v-select
                                :options="employees"
                                name="employee"
                                label="name"
                                v-model="employee.employee"
                                :class="{'danger-border': errors.has('employee_type') }"
                                v-validate="'required'"
                        >

                        </v-select>
                        <div v-show="errors.has('employee')" class="help is-danger">
                            {{ errors.first('employee')|removeUs }}
                        </div>

                </div>
                <div class="col-md-4 pt-1">
                        <label class="label label-default">From Date *</label><br>
                        <date-picker v-model="employee.from_date"
                                     lang="en" type="from_date"
                                     name="from_date"
                                     format="DD-MM-YYYY"
                                     v-validate="'required'"
                                     placeholder="Select Date">

                        </date-picker>
                        <div v-show="errors.has('from_date')"
                             class="help is-danger">
                            {{ errors.first('from_date') }}
                        </div>

                </div>
                <div class="col-md-4 pt-1">
                        <label class="label label-default">To Date *</label><br>
                        <div >
                            <date-picker v-model="employee.to_date"
                                         lang="en" type="to_date"
                                         name="to_date"
                                         format="DD-MM-YYYY"
                                         v-validate="'required'"
                                         placeholder="Select Date">

                            </date-picker>

                            <div v-show="errors.has('to_date')"
                                 class="help is-danger">
                                {{ errors.first('to_date') }}
                            </div>
                        </div>
                    
                </div>
                <div class="col-md-12">
                    <button class="btn btn-secondary mt-3" type="submit">Submit</button>
                </div>

            </div>
            </form>
        </div>
        <br>

        <br>

        <div class="infoPrint">
            <h3>Diamonds group Hr</h3>
            <h5>Staff Report</h5>
        </div>
        <br>
        <div class="nameAndTime">

           <div> <span>Name: {{ employee.employee?employee.employee.name:''}}</span></div>
            <div>
                <div>From Date: <strong> {{ moment(employee.from_date).format('YYYY-MM-DD')}}</strong></div>
                <div>To Date: <strong>{{ moment(employee.to_date).format('YYYY-MM-DD')}}</strong></div>
                <a href="" @click.prvent="$root.printMe()" class="headerIcon pull-right pl-3" title="Print now">
                    <i class="fa fa-print hide-on-print"></i>
                </a>
            </div>
        </div>

        <table class="table text-center table-hover table-bordered table-stripe">
            <thead>
            <tr>
                <th>#</th>
                <th> Date</th>
                <th> Name</th>
                <th>Details</th>
                <th>Total Time</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in reportData">
                <td>{{index + 1}}</td>
                <td>
                    <span>{{moment(item.clock_in).format('DD-MM-YY')}}</span>
                </td>
                <td>

                    <span>{{item.name}}</span>
                </td>
                <td>
                    <table>
                        <tr v-for="singleItem in $root.needToParse(item.list)" v-if="item.list">
                                <td v-if="singleItem.details">
                                    <div v-html="singleItem.details"></div>
                                </td>
                        </tr>

                    </table>
                </td>
                <td>
                    <span class="total-time">{{$root.calculatAllTotalTime(item.list)}}</span>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>
                       <span class="grand-total-time">{{finalTime(reportData)}}</span>
                    </td>
                </tr>
            </tfoot>

        </table>



    </div>
</template>

<script>
    export default {
        data(){
            return{
                employees:[],
                employee:{},
                reportData:[],
                totalTime:0
            }
        },
        created(){
            axios.get('/get-employee-list').then(res=>{
                this.employees=res.data
            })
        },
        methods:{
            getReportData(){
                this.parseTimeAndDate(this.employee)
                axios.get('/get-report/employee',{
                    params:{
                        sortName:'id',
                        sortOrder:'DESC',
                        employee:this.employee.employee.id,
                        from_date:this.employee.from_date,
                        to_date:this.employee.to_date
                    }
                }).then(res=>{
                    this.reportData=res.data
                })
            },
            parseTimeAndDate(val){
                this.employee.from_date=val.from_date?
                    this.moment(val.from_date).format('YYYY-MM-DD'):null
                this.employee.to_date=val.to_date?
                    this.moment(val.to_date).format('YYYY-MM-DD'):null
            },

            finalTime(data){
                let totalTime=0;
                data.forEach(e=>{
                    let differentTime=this.$root.calculatAllTotalTime(e.list)
                    let tTime=this.moment(differentTime, 'h [hours] mm [mins] ss [seconds]')

                    var diff = tTime.diff(tTime.clone().startOf('day'));
                    if(differentTime.includes("-")){
                        totalTime -= diff;
                    }else{
                        totalTime += diff;
                    }
                })
                var dur = this.moment.duration(totalTime);
                return  dur.hours()+dur.days()*24+' h : '+dur.minutes()+' m : '+dur.seconds()+' s'


            }
        }
    }
</script>

<style scoped>

</style>