<template>
    <div>
    <div class="hide-on-print">
        <label class="col-form-label">Staff *</label>
        <v-select
                :options="employees"
                name="employee"
                label="name"
                v-model="employee"
                @input="getHolidayDeatils()"
                placeholder="Select staff to generate holiday report"

        >

        </v-select>

    </div>
        <br>

        <div class="holidayReport">
            <div class="reportHeader">
                <div>
                    Staff Id : <b>{{employee?employee.employee_id:''}} </b><br>
                    Name :  <b>{{employee?employee.name:''}}</b>
                </div>
                <div>
                    <h5 class="text-uppercase text-dark"> human resources system <br> detailed employee holiday report </h5>
                </div>
                <div>
                    Date : <b>{{moment().format('DD MMMM YYYY')}}</b><br>
                    Sick Days : <b> ({{sickDays}}) </b><br>
                    Absence Days  :  <b> ({{absenceDays}}) </b><br>
                    <a href="" @click.prvent="$root.printMe()" class="headerIcon hide-on-print" title="Print now">
                        <i class="fa fa-print"></i>
                    </a>
                </div>

            </div>

            <div class="reportData">
                <table class="holiday-Report-Table table">
                    <thead>
                    <th>#</th>
                    <th>Staff ID</th>
                    <th>Name </th>
                    <th>Holiday Ent</th>
                    <th>Holiday Start date </th>
                    <th>Duration (Days) </th>
                    <th> Status </th>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in holidayData">
                        <td>{{index+1}}</td>
                        <td>
                            <template v-if="index==0">
                                {{item.employee.employee_id}}
                            </template>

                        </td>
                        <td>
                            <template v-if="index==0">
                                {{item.employee.name}}
                            </template>

                        </td>
                        <td>
                            <template v-if="index==0">
                                {{parseInt(item.employee.entitled_holiday)+parseInt(holidayDataCount)}}
                            </template>

                        </td>
                        <td>
                            {{item.date}}
                        </td>
                        <td> 1 </td>
                        <td>Taken</td>

                    </tr>


                    </tbody>
                </table>
            </div>

        </div>

    </div>

</template>

<script>
    export default {
        data() {
            return {

                employee:{},
                employees:[],
                holidayData:[],
                employeeDetails:{},
                sickDays:0,
                absenceDays:0,
                holidayDataCount:0,
            }
        },
        created(){
            axios.get('/get-employee-list').then(res=>{
                this.employees=res.data
            })
        },
        methods: {
            getHolidayDeatils(){
                axios.get('/get-report/holiday',{
                    params:{
                        employee_id:this.employee.id
                    }
                }).then(res=>{
                    this.holidayData=res.data.holidayData
                    this.employeeDetails=res.data.employee
                    this.sickDays=res.data.sickDays
                    this.absenceDays=res.data.absenceDays
                    this.holidayDataCount=res.data.holidayDataCount
                })
            }

        }

    }
</script>
