<template>
    <div class="paySlip">

        <div class="row_first">
            <table class="manipulate">
                <thead>
                <tr>
                    <th>Ref</th>
                    <th>employee Name </th>
                    <th>Process Date</th>
                    <th>N.I Number </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>dsarf</td>
                    <td>dsf</td>
                    <td>dsf</td>
                    <td>dsf</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row_second">
            <div>
                <table class="manipulate">
                    <thead>
                    <tr>
                        <th>payment</th>
                        <th>Unit </th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>dsarf</td>
                        <td>dsf</td>
                        <td>dsf</td>
                        <td>dsf</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Holidays: 24 </td>
                        <td>Taken:2</td>
                        <td>Remaining:</td>
                        <td>22</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div>
                <table class="manipulate">
                    <thead>
                    <tr>
                        <th>Deduction</th>
                        <th>Amount </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>dsarf</td>
                        <td>dsf</td>
                    </tr>
                    <tr>
                        <td>dsarf</td>
                        <td>dsf</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row_third">
         <div>
             <p>MRS JAKLAS ENTERPRIZE <br> BROWN LOW STREET <br> NEW YORK</p>
         </div>
         <div>
             <p class="slip-title"> Diamonds villa limited </p>
             <table class="manipulate">
                  <tr>
                     <td><label for="">any label here </label></td>
                     <td> 12445.21</td>
                 </tr>
                  <tr>
                     <td><label for="">any label here </label></td>
                     <td> 12445.21</td>
                 </tr>
                  <tr>
                     <td><label for="">any label here </label></td>
                     <td><input type="text"></td>
                 </tr>
             </table>
         </div>
         <div>
             <p class="slip-title">Year To Date </p>
             <table>

                 <tr>
                     <td><label>any label here </label></td>
                     <td><input type="text"></td>
                 </tr>
             </table>

         </div>
        </div>

        <div class="row_forth">
            <div>
                <p class="slip-title">Diamonds villa limited </p>
                <table class="manipulate">
                      <tr>
                          <td><span>tax code: 12452</span></td>
                          <td>Dept: loly</td>
                          <td>Tax period : 10</td>
                          <td>Payment mathod : BACS</td>
                      </tr>

                </table>
            </div>
            <div class="text-white">
                <span>Gross pay</span>
                <span>1201</span>
            </div>
        </div>

    </div>
</template>
