<template>

    <div>
        <div class="card card-table">
            <data-table
                    ref="dataTable"
                    :search="true"
                    :columns="columns"
                    :addLink="'productCreate'"
                    :addButton="false"
                    :tableHeadline="'Stock Report'"
                    :searchField="'name'"
                    :dateSearchFieldName="'start_date'"
                    :dateSearch="true"
                    :ajax="{
                            url: url
                        }"
            >
                <template slot="items" slot-scope="props">

                    <td class="text-center">

                        {{props.data.name}}

                    </td>

                    <td class="text-center">

                        {{props.data.initial_stock?props.data.initial_stock:0}}

                    </td>
                    <td class="text-center">

                        {{props.data.bed?props.data.bed:0}}

                    </td>
                    <td class="text-center">
                        {{props.data.dirty?props.data.dirty:0}}


                    </td>
                    <td class="text-center">

                        {{props.data.arrived?props.data.arrived:0}}

                    </td>
                    <td class="text-center">

                        {{getTotalRemain(props.data)}}

                    </td>
                    <td class="text-center">

                        {{props.data.lost?props.data.lost:0}}

                    </td>

                    <td class="text-center">

                        {{props.data.marks?props.data.marks:0}}

                    </td>

                </template>
            </data-table>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                employeeModal: false,
                url: '/get-report/stock',
                columns: [
                    {name: 'Name'},
                    {name: 'Initial Stock'},
                    {name: 'Beds'},
                    {name: 'Dirty'},
                    {name: 'Arrived'},
                    {name: 'Shelf (Remain)'},
                    {name: 'Lost/Missed'},
                    {name: 'Marked'},
                ],
                modalData:{},
            }
        },

        methods: {
            getTotalRemain(val){
                let qunatity = parseFloat(val.initial_stock?val.initial_stock:0)-
                    parseFloat(val.dirty?val.dirty:0)-
                    parseFloat(val.bed?val.bed:0)+
                    parseFloat(val.arrived?val.arrived:0)-
                    parseFloat(val.lost?val.lost:0)
                return qunatity
            }

        }

    }
</script>
