<template>
    <div>
        <div class="container hide-on-print">
            <div class="row">
                <p>
                    <span class="text-danger">{{errorMessage}}</span>
                    <!--<span class="text-danger" v-for="item in serverErrors"> {{item}}</span>-->
                </p>

                <div class="headerTtile">
                    Prorota Create
                </div>
            </div>
            <form @submit.prevent="postPrerota()">
            <div class="row shadow p-4 bg-default">
                <div class="parentFlex">
                    <div class="  d-flex justify-content-around ">
                        <div class="form-group ">
                            <label class="label label-default">Date *</label><br>
                            <date-picker v-model="prerota.date"
                                         lang="en" type="date"
                                         name="date"
                                         format="DD-MM-YYYY"
                                         v-validate="'required'"
                                         placeholder="Select Date">

                            </date-picker>
                            <div v-show="errors.has('date')"
                                 class="help is-danger">
                                {{ errors.first('date') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="">Type* </label><br>
                            <v-select
                                    :options="['Regular', 'Authorized holiday','Unauthorized holiday']"
                                    name="type"
                                    v-model="prerota.type"
                                    :class="{'danger-border': errors.has('type') }"
                                    v-validate="'required'"
                            >

                            </v-select>
                            <div v-show="errors.has('type')"
                                 class="help is-danger">
                                {{ errors.first('type') }}
                            </div>
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label class="label label-default">Start Time *</label>
                            <date-picker v-model="prerota.start_time"
                                         lang="en"
                                         type="time"
                                         format="HH:mm:ss"
                                         name="start_time"
                                         v-validate="prerota.type=='Regular'?'required':''"
                                         placeholder="Select Time">

                            </date-picker>
                            <div v-show="errors.has('start_time')"
                                 class="help is-danger">
                                {{ errors.first('start_time') }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="label label-default">End Time *</label><br>
                            <date-picker v-model="prerota.end_time"
                                         lang="en" type="time"
                                         format="HH:mm:ss"
                                         name="end_time"
                                         v-validate="prerota.type == 'Regular'?'required':''"
                                         placeholder="Select Time">

                            </date-picker>
                            <div v-show="errors.has('end_time')"
                                 class="help is-danger">
                                {{ errors.first('end_time') }}
                            </div>
                        </div>
                    </div>

                    <div class=" ">
                        <div class="form-group">
                            <label class="">Employee* </label><br>
                            <v-select
                                    :options="employees"
                                    label="name"
                                    name="employee"
                                    v-model="prerota.employee"
                                    multiple
                                    :class="{'danger-border': errors.has('employee') }"
                                    v-validate="prerota.type=='Regular'?'required':''"
                            >

                            </v-select>
                            <div v-show="errors.has('employee')"
                                 class="help is-danger">
                                {{ errors.first('employee') }}
                            </div>


                        </div>
                    </div>
                    <div class="col-flex">
                        <div class="form-group ml-1">
                            <label class="">Details </label><br>
                            <textarea name="" id="" cols="5" rows="1" class="form-control" placeholder="Details "
                                      v-model="prerota.details"></textarea>

                        </div>
                    </div>
                    <div class="col-flex">
                        <div class="form-group ml-2" v-if="!showBtn">
                            <label class=""> </label><br>
                            <button class="btn btn-primary mt-2"type="submit">
                                <i class="fa fa-plus pl-1" @click="btnType='submit'"></i>Submit
                            </button>
                        </div>
                        <div class="form-group ml-2" v-if="showBtn">
                            <label class=""> </label><br>
                            <button class="btn btn-warning mt-2"type="submit" @click="btnType='update'">
                                <i class="fa fa-plus pl-1"></i>Update
                            </button>
                        </div>

                    </div>



                </div>
                <div>
                    <span style="background: darkgoldenrod;padding: 5px;color:white">Today Has Holiday:</span>
                    <span>
                            <template v-for="item in holidayHas">
                                {{ item.employee.name }} |
                            </template>
                        </span>
                </div>

            </div>
            </form>

        </div>
        <br>

        <div class="card card-table customPrint">

            <data-table
                    ref="dataTable"
                    :search="true"
                    :columns="columns"
                    :addLink="'employeeCreate'"
                    :addButton="false"
                    :tableHeadline="'Pro Rota List'"
                    :searchField="'type'"
                    :searchPlaceholder="' Search by type...'"
                    :dateSearchFieldName="'start_date'"
                    :ajax="{
                            url: url
                        }"
            >
                <template slot="items" slot-scope="props">

                    <td class="text-center">

                        {{props.data.date}}

                    </td>
                    <td class="text-center">

                        {{props.data.type}}

                    </td>
                    <td class="text-center">
                        {{props.data.start_time}}
                    </td>
                    <td class="text-center">
                        {{props.data.end_time}}
                    </td>
                    <td class="text-center">
                        <template v-for="item in props.data.employees">
                            <span>{{item.name}} | </span>
                        </template>
                    </td>

                    <td class="text-center">
                        {{props.data.details}}
                    </td>

                    <td class="text-center">

                        <div class="adjustAction">
                            <template>
                                <a href="#" @click.prevent="setEditData(props.data)" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a @click.prevent="deleteMe(props.data.id)" href="#" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </template>
                        </div>
                    </td>
                </template>
            </data-table>

        </div>


    </div>
</template>

<script>

    export default {
        name: "addItem",
        data() {
            return {
                serverErrors: [],
                employees: [],
                prerota: {},
                errorMessage: '',
                url: '/pre-rota',
                btnType:'submit',
                showBtn:false,
                updateId:null,
                holidayHas:[],
                columns: [
                    {name: 'Date'},
                    {name: 'Type'},
                    {name: 'Start Time'},
                    {name: 'End Time'},
                    {name: 'Employee'},
                    {name: 'Details'},
                    {name: 'Action'},
                ]

            }
        },
        created() {
            axios.get('/pre-rota/create').then(res => {
                this.employees = res.data.employees
                this.holidayHas=res.data.holiday
            })
        },
        methods: {

            postPrerota() {
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.parseTimeAndDate(this.prerota)

                        if(this.btnType=='submit'){
                            axios.post('/pre-rota', this.prerota).then(res => {
                                this.prerota = {}
                                this.flash(res.data.message, res.data.type, {
                                    timeout: 2000,
                                });
                                var dataTable = this.$refs.dataTable
                                dataTable.getResult();
                            }).catch(error => {
                                let err
                                let errs = error.response.data.errors
                                this.serverErrors = error.response.data.errors
                                for (err in errs) {
                                    this.errors.add({
                                        'field': err,
                                        'msg': errs[err][0]
                                    })
                                }
                            })
                        }else {
                            axios.patch('/pre-rota/'+this.updateId, this.prerota).then(res => {
                                this.prerota = {}
                                this.showBtn=false
                                this.flash(res.data.message, res.data.type, {
                                    timeout: 2000,
                                });
                                var dataTable = this.$refs.dataTable
                                dataTable.getResult();
                            }).catch(error => {
                                let err
                                let errs = error.response.data.errors
                                this.serverErrors = error.response.data.errors
                                for (err in errs) {
                                    this.errors.add({
                                        'field': err,
                                        'msg': errs[err][0]
                                    })
                                }
                            })
                        }

                    }
                })
            },
            saveAndClose() {
                this.postEmployee('goto')
            },
            cancel() {
                this.$router.push({name: 'customerManage'})
            },
            setEditData(item){
                this.updateId=item.id
                this.prerota=item
                this.prerota.employee=item.employees
                this.prerota.start_time=this.moment(item.date+' '+item.start_time)
                this.prerota.end_time=this.moment(item.date+' '+item.end_time)
                this.showBtn=true
            },

            deleteMe(id) {
                if (confirm("Are you sure?")) {
                    axios.delete('/pre-rota/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            },
            parseTimeAndDate(val){
                this.prerota.date=this.moment(val.date).format('YYYY-MM-DD')
                this.prerota.start_time=val.start_time?this.moment(val.start_time).format('HH:mm:ss'):null
                this.prerota.end_time=val.end_time?this.moment(val.end_time).format('HH:mm:ss'):null
            }


        }
    }
</script>

<style scoped>

</style>