<template>
    <div class="card card-table">
        <data-table
                ref="dataTable"
                :search="true"
                :columns="columns"
                :addLink="'prerotaCreate'"
                :tableHeadline="'Pro Rota List'"
                :searchField="'name'"
                :dateSearchFieldName="'start_date'"
                :ajax="{
                            url: url
                        }"
        >
            <template slot="items" slot-scope="props">

                <td class="text-center">

                    {{props.data.name}}

                </td>
                <td class="text-center">
                    {{props.data.username}}
                </td>
                <td class="text-center">
                    {{props.data.employee_type}}
                </td>
                <td class="text-center">
                    {{props.data.phone}}
                </td>

                <td class="text-center">

                    <div class="adjustAction">
                        <template>
                            <router-link :to="{name:'employeeEdit', params:{id:props.data.id}}"  title="Edit">
                                <i class="fa fa-edit"></i>
                            </router-link>

                            <a @click.prevent="deleteMe(props.data.id)" href="#"  title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </template>
                    </div>
                </td>
            </template>
        </data-table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                url: '/pre-rota',
                columns: [
                    {name: 'Name'},
                    {name: 'username'},
                    {name: 'Type'},
                    {name: 'Phone'},
                    {name: 'Action'},
                ]
            }
        },

        methods: {

            deleteMe(id) {
                if(confirm("Are you sure?")){
                    axios.delete('/pre-rota/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            }
        }

    }
</script>
