<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="headerTtile">
                    Stock Create
                </div>
            </div>
            <form @submit.prevent="postProduct()">
                <div class="row shadow p-4 bg-default">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="label label-default">  Date *</label>
                            <date-picker v-model="stock.date"
                                         lang="en" type="date"
                                         name="date"
                                         format="YYYY-MM-DD"
                                         v-validate="'required'"
                                         placeholder="Select Date">

                            </date-picker>
                            <div v-show="errors.has('date')"
                                 class="help is-danger">
                                {{ errors.first('date') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="label label-default">  Product *</label>
                            <v-select
                                    :options="products"
                                    name="product"
                                    label="name"
                                    v-model="stock.product_id"
                                    :class="{'danger-border': errors.has('product') }"
                                    v-validate="'required'"
                            >

                            </v-select>
                            <div v-show="errors.has('product')" class="help is-danger">
                                {{ errors.first('product')|removeUs }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="label label-default"> Type *</label>
                            <v-select
                                    :options="['Dirty','Bed','Arrived','Initial Stock','Lost/Missed']"
                                    name="cloth_type"
                                    v-model="stock.cloth_type"
                                    :class="{'danger-border': errors.has('cloth_type') }"
                                    v-validate="'required'"
                            >

                            </v-select>
                            <div v-show="errors.has('cloth_type')" class="help is-danger">
                                {{ errors.first('cloth_type')|removeUs }}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="label label-default">  Quantity *</label>
                            <input
                                    type="number"
                                    v-model="stock.quantity"
                                    name="quantity"
                                    class="form-control"
                                    v-validate="'required'"
                            >
                            <div v-show="errors.has('quantity')" class="help is-danger">
                                {{ errors.first('quantity')|removeUs }}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="label label-default">  Marks </label>
                            <input
                                    type="number"
                                    v-model="stock.marks"
                                    name="quantity"
                                    class="form-control"
                            >
                        </div>

                    </div>
                    <div class="col-md-9">
                        <div class="form-group ">
                            <label class="label label-default">  Details</label>
                            <textarea
                                    v-model="stock.details"
                                    name="name"
                                    class="form-control"
                            ></textarea>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>


                </div>
            </form>
        </div>

    </div>
</template>
<script>
    export default{
        data(){
            return{
                stock:{},
                products:[]

            }
        },
        created(){
            this.stock.date=new Date()
            axios.get('/product/get-all-list').then(res=>{
                this.products=res.data
            })
        },
        methods:{
            postProduct(){
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.stock.date=this.moment(this.stock.date).format('YYYY-MM-DD')
                        axios.post('/stock-maintenance',this.stock).then(res=>{
                            this.stock={}
                            this.stock.date=new Date()
                            this.flash(res.data.message, res.data.type, {
                                timeout: 3000,
                            });

                        }).catch(error => {
                            let err
                            let errs = error.response.data.errors
                            for (err in errs) {
                                this.errors.add({
                                    'field': err,
                                    'msg': errs[err][0]
                                })
                            }
                        })
                    }
                })
            }
        }

    }
</script>

<style scoped>
</style>