<template>

    <div>
        <div class="card card-table">
            <data-table
                    ref="dataTable"
                    :search="true"
                    :columns="columns"
                    :addLink="'stockCreate'"
                    :tableHeadline="'Stock Maintenance List'"
                    :searchField="'name'"
                    :dateSearchFieldName="'start_date'"
                    :ajax="{
                            url: url
                        }"
            >
                <template slot="items" slot-scope="props">

                    <td class="text-center">
                        <template v-if="props.data.user">
                            {{props.data.user.name}}
                        </template>


                    </td>
                    <td class="text-center">

                        {{props.data.date}}

                    </td>
                    <td class="text-center">

                        {{props.data.product.name}}

                    </td>
                    <td class="text-center">

                        {{props.data.cloth_type}}

                    </td>
                    <td class="text-center">

                        {{props.data.quantity}}

                    </td>
                    <td class="text-center">

                        {{props.data.marks}}

                    </td>
                    <td class="text-center">

                        {{props.data.details}}

                    </td>

                    <td class="text-center">

                        <div class="adjustAction">
                            <template>
                                <router-link :to="{name:'stockEdit', params:{id:props.data.id}}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </router-link>

                                <a @click.prevent="deleteMe(props.data.id)" href="#" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </template>
                        </div>
                    </td>
                </template>
            </data-table>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                employeeModal: false,
                url: '/stock-maintenance',
                columns: [
                    {name: 'Staff'},
                    {name: 'Date'},
                    {name: 'Product'},
                    {name: 'Type'},
                    {name: 'Quantity'},
                    {name: 'Marks'},
                    {name: 'Details'},
                    {name: 'Action'},
                ],
                modalData:{},
            }
        },

        methods: {

            deleteMe(id) {
                if (confirm("Are you sure?")) {
                    axios.delete('/stock-maintenance/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            }
        }

    }
</script>
