<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="headerTtile">
                    Product Edit
                </div>
            </div>
            <form @submit.prevent="postProduct()">
                <div class="row shadow p-4 bg-default">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label class="label label-default">  Name *</label>
                            <input
                                    type="text"
                                    v-model="product.name"
                                    name="name"
                                    class="form-control"
                                    v-validate="'required'"
                            >
                            <div v-show="errors.has('name')" class="help is-danger">
                                {{ errors.first('name')|removeUs }}
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</template>
<script>
    export default{
        data(){
            return{
                product:{}

            }
        },
        created(){
          axios.get('/product/'+this.$route.params.id+'/edit').then(res=>{
              this.product=res.data
          })
        },
        methods:{
            postProduct(){
                this.$validator.validate().then((result) => {
                    if (result) {
                        axios.patch('/product/'+this.$route.params.id,this.product).then(res=>{
                            this.product={}
                            this.$router.push({name:'productList'})
                            this.flash(res.data.message, res.data.type, {
                                timeout: 3000,
                            });

                        }).catch(error => {
                            let err
                            let errs = error.response.data.errors
                            for (err in errs) {
                                this.errors.add({
                                    'field': err,
                                    'msg': errs[err][0]
                                })
                            }
                        })
                    }
                })
            }
        }

    }
</script>

<style scoped>
</style>