<template>

    <div>
        <div class="card card-table">
            <data-table
                    ref="dataTable"
                    :search="true"
                    :columns="columns"
                    :addLink="'productCreate'"
                    :tableHeadline="'Product List'"
                    :searchField="'name'"
                    :dateSearchFieldName="'start_date'"
                    :ajax="{
                            url: url
                        }"
            >
                <template slot="items" slot-scope="props">

                    <td class="text-center">

                        {{props.data.name}}

                    </td>

                    <td class="text-center">

                        <div class="adjustAction">
                            <template>
                                <router-link :to="{name:'productEdit', params:{id:props.data.id}}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </router-link>

                                <a @click.prevent="deleteMe(props.data.id)" href="#" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </template>
                        </div>
                    </td>
                </template>
            </data-table>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                employeeModal: false,
                url: '/product',
                columns: [
                    {name: 'Name'},
                    {name: 'Action'},
                ],
                modalData:{},
            }
        },

        methods: {

            deleteMe(id) {
                if (confirm("Are you sure?")) {
                    axios.delete('/product/' + id).then(res => {
                        var dataTable = this.$refs.dataTable
                        dataTable.getResult();
                        this.flash(res.data.message, res.data.type, {
                            timeout: 3000,
                        });
                    });
                }


            }
        }

    }
</script>
