<template>
    <div class="user-login">

        <div class="inner">
            <flash-message class="myCustomClass"></flash-message>

            <div class="header">
                <div>{{moment().format('dddd, DD MMMM YYYY')}}</div>
                <div> Time : {{todayTime}} </div>
            </div>

            <form @submit.prevent="doLogin">
                <div class="user-login-panel">
                    <div class="login-user-details">
                        Diamonds Group HR
                    </div>
                    <div class="login-box">
                        <div><p>Staff Login</p></div>
                        <div>
                            <label>User name</label>:
                            <input type="text"
                                   v-model="username"
                                   class="input-form"
                                   required
                                   placeholder="User Name"
                            >
                        </div>
                        <div>
                            <label>Password</label> :
                            <input type="password"
                                   v-model="password"
                                   placeholder="password"
                                   required
                                   class="input-form"
                            >
                        </div>
                        <button class="submit" type="submit">Login</button>
                    </div>
                  <div class="logout-box">
                      <a href="#" @click.prevent="logoutModal() " class="btn-link text-right">Logout Here</a>
                  </div>
                </div>
            </form>
            <div class="logout-modal" v-if="modal">
                <div class="modal-structure">
                    <div class="modal-header">
                        <div class="text-uppercase">employer log details and activities </div>

                    </div>
                    <form @submit.prevent="doLogout">
                    <div class="modal_body">
                        <p class="text-success text-capitalize">
                            <i class="fa fa-edit"></i>
                            Please add today's activities which you have done
                        </p>
                        <textarea v-model="activities" class="form-control" cols="30" rows="5" required></textarea>

                        <div class="w-100 d-flex justify-content-around flex-wrap mt-3">
                            <label class="font-weight-bold">User name</label>:
                            <input type="text"
                                   v-model="username"
                                   class="input-form"
                                   required
                                   placeholder="User Name"
                            >
                            <label class="font-weight-bold">Password</label> :
                            <input type="password"
                                   v-model="password"
                                   placeholder="password"
                                   required
                                   class="input-form"
                            >
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-dark" @click.prevent="closeModal">Close</button>
                        <button class="btn btn-danger" type="submit">Log Out </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "login.vue",
        data() {
            return {
                todayTime: '00:00',
                username: '',
                password: '',
                modal: false,
                activities: '',
                todayAttendance: [],
            }
        },
        created() {
            this.getAttendanceData()

        },
        mounted() {
            this.updateTime()
        },
        methods: {
            getAttendanceData() {
                axios.get('/get-today-attendance').then(res => {
                    this.todayAttendance = res.data

                })
            },
            logoutModal() {
                this.modal = true
            },
            doLogout() {
                axios.post('/staff/logout', {

                    activities: this.activities.replace(/\n/g, "<br>"),
                    username:this.username,
                    password:this.password
                }).then(res => {
                    if(res.data.type == 'success'){
                        this.activities='',
                            this.username='',
                            this.password=''
//                        this.getAttendanceData()
                        this.modal = false
                    }
                    this.flash(res.data.message, res.data.type, {
                        timeout: 3000,
                    });

                })
            },
            closeModal() {
                this.username=''
                this.password=''
                this.activities=''
                this.modal = false

            },

            updateTime() {
                var self = this
                var date=new Date()
                    this.todayTime=('0' + date.getHours()).slice(-2)+':'+
                        ('0' + date.getMinutes()).slice(-2)+':'+
                        ('0' + date.getSeconds()).slice(-2)
                setInterval(self.updateTime, 1*1000)
            },



            findUserActiveStatus(val){
                let newVal=JSON.parse('['+val+']')
                let activeStatus='user-active'
                newVal.forEach(data=> {
                    if(!data.clock_out){
                        activeStatus='user-active'
                    }else{
                        activeStatus='user-inactive'
                    }
                })
                return activeStatus
            },

            doLogin() {
                axios.post('/staff/login', {
                    username: this.username,
                    password: this.password
                }).then(res => {
                    this.username = ''
                    this.password = ''
                    this.flash(res.data.message, res.data.type, {
                        timeout: 3000,
                    });
                    this.getAttendanceData()
                }).catch(err => {

                })
            }
        }

    }
</script>

<style scoped>

</style>










