<template>

    <div class="border p-3" >

            <router-link :to="{name:'prerotaCreate'}" class="btn btn-primary float-right btn-sm  mt-1 mb-1 ">Manage/Add</router-link>


        <div class="content-area">

            <div class="left-bar mb-4">

                      <h5 class="text-center text-dark border-bottom pt-2 pb-2">Employees</h5>
                      <date-picker v-model="dateInput"
                                   lang="en"
                                   type="date"
                                   name="dateInput"
                                   @input="getData()"
                                   format="YYYY-MM-DD"
                                   placeholder="Select Date">



                      </date-picker>

                <br><br>
                <a href="#" @click.prevent="employeeList=[],getData()">Clear Slection</a>
                <div v-for="item in employees" class="form-check">
                    <input type="radio" name="employee" v-model="employeeList" :value="item.id" @change="getData()" class="form-check-input" id="exampleCheck1">
                    <span class="text-capitalize">{{item.name}} </span> <br>
                </div>


            </div>
            <div class="right-bar">

                <div class="adjustOverflow">

                <!--<div v-for="item in preRota">-->
                    <!--{{moment(item.date).format('ddd, DD MMM YY')}}-->
                <!--</div>-->

                <template v-for="item in preRota">

                    <div class="time-events" v-if="item.start_time && item.end_time">
                        <div>
                            {{moment(item.date).format('ddd, DD MMM YY')}}
                        </div>
                        <div>
                            WORK TIME &#128341;
                        </div>
                        <div>
                            <span>&#9200; From  </span>: <span>{{item.start_time}}</span>
                        </div>
                        <div>
                            <span>&#9200;  To </span>: <span>{{item.end_time}}</span>
                        </div>

                        <div class="details" v-if="item.details">{{item.details}}</div>
                        <template v-if="item.employees.length">
                            <div class="user-view">
                                <div class="user"> Staff: </div>
                                <div class="name" v-for="employee in item.employees"> {{employee.name}},</div>
                            </div>
                        </template>
                    </div>
                    <div class="time-events" v-else>
                        <b>
                            {{item.type}}
                        </b>
                        <span v-if="item.details"> {{item.details}}</span>
                    </div>
                </template>

                <div v-if="!preRota.length">
                    <span>No Result Found</span>
                </div>


                </div>

                <br>
                <br>
                <br>




            </div>
         </div>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                employees:[],
                preRota:[],
                dateInput:null,
                employeeList:[]
            }
        },
        created(){
            this.getData()
        },
        methods:{
            getData(){
                axios.get('/prerota/details',{
                    params:{
                        dateInput:this.dateInput?this.moment(this.dateInput).format('YYYY-MM-DD'):null,
                        employeeList:this.employeeList,
                    }
                }).then(res=>{
                    this.employees=res.data.employees
                    this.preRota=res.data.preRota
                })
            }
        }
    }
</script>
<style>


    .mx-datepicker{
        width: 100%;
    }

</style>