<template>
    <div class="card card-table">
        <data-table
                ref="dataTable"
                :search="true"
                :columns="columns"
                :addLink="'userCreate'"
                :tableHeadline="'User List'"
                :searchField="'name'"
                :ajax="{
                            url: url
                        }"
        >
            <template slot="items" slot-scope="props">

                <td class="text-center">

                    {{props.data.name}}

                </td>
                <td class="text-center">

                    {{props.data.email}}

                </td>
                <td class="text-center">
                    {{props.data.role}}
                </td>
                <td class="text-center">
                    <div class="adjustAction">
                        <template>
                            <router-link :to="{name:'userEdit', params:{id:props.data.id}}">
                                <i class="fa fa-edit"></i>
                            </router-link>
                        </template>

                        <template v-if="props.data.role=='sub-admin'">
                            <a @click.prevent="deleteMe(props.data.id)" href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </template>

                    </div>
                </td>
            </template>
        </data-table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                url:'/user',
                columns: [
                    {name: 'Name'},
                    {name: 'Email'},
                    {name: 'Role'},
                    {name: 'Action'},
                ]
            }
        },

        methods:{

            deleteMe(id) {
                    if (confirm("Are you sure that you want to delete user?")) {
                        axios.delete('/user/' + id).then(res => {
                            var dataTable = this.$refs.dataTable
                            dataTable.getResult();
                            this.flash(res.data.message, res.data.type, {
                                timeout: 2000,
                            });

                        });
                    }
            }
        }

    }
</script>
